
<style>
#layout_edit {
  width:45em;
}

#layout_edit label
{
  width: 17em;
  padding-right:1em;
  text-align:left;
}

#layout_edit .layout_name
{
 width: 20em;
}

#layout_edit .panes
{
 width: 100%;
 color:#000;
}

#layout_edit .panes > div
{
 height: 40em;
}

#layout_edit textarea.layout_style
{
  width:100%;
  height:36em;
  padding:0px;
  margin:0px;
}

#layout_edit textarea.layout_description
{
  width:100%;
  height:10em;
  padding:0px;
  margin:0px;
}


</style>

<div class="layout_edit" id="layout_edit">
   <%= form_tag(layout_path(@layout.guid), :method=>"put") do%>
     <ul class="tabs">
       <li><a href="#">Settings</a></li>
       <li><a href="#">Style</a></li>
     </ul>
     <div class="panes">
       <div>
          <%= text_area_tag :description, @layout.description, :class=>"popup_wysiwyg layout_description" %>
	  <%= fields_for :params do |param_field_block| %>
	     <%= param_fields(param_field_block, @layout.get_param_objs) %>
	  <% end %>
       </div>
       <div>
          <%= text_area_tag :style, @layout.style, :class=>"layout_style" %>
       </div>
     </div>
     <%= button_tag "Save", :id=>"save_button", :type=>"submit" %>
   <% end %>
</div>
<script>
   $(function() {
      $("#layout_edit").find("ul.tabs").tabs($("div.panes > div"));
      $("#layout_edit").find("button").button().click(function() {
         
      });

             var wysiwyg_params = {
                controls: {
                   undo: { visible: false },
                   redo: { visible: false},
                   insertHorizontalRule: { visible: true},
                   html: { visible: true},
                   insertTable: {visible: true},
                   'fileManager': {
                         visible: true,
                         tooltip: "File Manager"
                    }
              }
         }
         // $("#layout_edit textarea.popup_wysiwyg").wysiwyg(wysiwyg_params);


   });
</script>
