<div id="setup_choose_template_form">
   <%= render :partial=>"roxiware/templates/picker", :locals=>{:preview_server=>preview_server, :selected_scheme=>@default_scheme, :show_install=>true, :selected_template=>@default_template } %>
</div>
<div class="setup_buttons">
     <%= button_tag :id=>"back_button", :value=>"back", :type=>"back" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
</div>
<%= form_tag("setup", :method=>"put") do |template_form| %>
    <%= hidden_field_tag :setup_step, @setup_step %>
     <%= hidden_field_tag :setup_action, "save" %>
<% end %>

<script>
$(function() {
    $("button#back_button,button#install_template").click(function() {
        $("input#setup_action").val($(this).attr("id"));
        var data = $("form").serializeArray();
        if($(this).is("#install_template")) {
            data.push({name:"template_guid",value:$(".template_item_selected").attr("template_guid")});
            data.push({name:"template_scheme",value:$(".template_item_selected").attr("selected_scheme")});
        }
        $.ajaxSetParamsJSON("<%= setup_path %>.json", data, {success:function() {window.location.reload()}});
     });
});
</script>
