<%= form_for current_user.person, :url=>setup_path do |person| %>
<div class="wizard_instructions">Make changes to your biography if needed.</div>
<div id="biography_edit">
   <%= render :partial=>'roxiware/people/edit_biography', :locals=>{:person_form=>person, :person=>current_user.person} %>
    <%= hidden_field_tag :setup_step, @setup_step %>
    <%= hidden_field_tag :setup_action, "none" %>
</div>
<% end %>
<div class="setup_buttons">
<%= button_tag :id=>"back_button", :value=>"back", :type=>"button" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
<%= button_tag :id=>"save", :value=>"back", :type=>"button" do %>Next&nbsp;<span class="icon-arrow-right-2"></span><% end %>
</div>
<script>
  $(function() {
      $("div.settings_wysiwyg textarea").tinymce({
          script_url:"http://cdn.roxiware.com/tools/tinymce/tinymce.min.js",
	  theme: "modern",
	  skin: "light",
	  menubar: false,
	  browser_spellcheck:true,
	  relative_urls: false,
	  remove_script_host:true,
	  document_base_url: window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: ''),
	  plugins: [
	      "autolink lists link image charmap anchor",
	      "visualblocks code",
              "media table contextmenu paste"
	  ],
	  height: $("div.settings_wysiwyg").height() - 30,
	  statusbar:false,
	  resize:false,
	  schema: "html5",
	  toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | code",
    });

    $("button#back_button,button#save").click(function() {
        $(".watermark").val("");
        $("input#setup_action").val($(this).attr("id"));
        $.ajaxSetParamsJSON("<%= setup_path %>.json", $("form").serializeArray(), {form:$("form"), success:function() {window.location.reload()}});
     });

  });
</script>
