<%= content_tag(:div, :id=>"manage_books", :style=>"display:hidden;opacity:0") do
    content_tag(:div, :id=>"book_list_container", :class=>"settings_section") do
        content_tag(:h1, "Manage Books") +
        content_tag(:div, :id=>"add_buttons") do
            content_tag(:div, "+", :id=>"new_book", :class=>"icon-book") +
            content_tag(:div, "+", :id=>"new_series", :class=>"icon-books")
        end +
        content_tag(:div, "", :class=>"icon-arrow-left-9", :id=>"next_book") +
        content_tag(:div, "", :id=>"book_list", :class=>"roundabout-holder") +
        content_tag(:div, "", :class=>"icon-arrow-right-9", :id=>"prev_book") +
        content_tag(:div, :class=>"setup_buttons") do
            button_tag(:id=>"save_books") {"Done&nbsp;".html_safe + content_tag(:span, "", :class=>"icon-arrow-right-2")}
        end
    end +
    content_tag(:div, :id=>"book_edit_form", :class=>"settings_section") do
	    fields_for :book do |book_fields|
            book_fields.hidden_field(:goodreads_id) +
            book_fields.hidden_field(:raw_image) +
            content_tag(:div, :id=>"book_top_fields") do
                content_tag(:div, "", :id=>"delete_book", :class=>"icon-remove-2") +
                content_tag(:div, :id=>:book_image, :class=>"upload_target") do 
                    tag(:img, :id=>:book_upload_image)
                end +
                content_tag(:div, :id=>:book_info) do
                    content_tag(:div, :id=>:title_field, :class=>"param-field") do
                        book_fields.text_area(:title)
                    end +
                    content_tag(:div, :id=>:isbn_field, :class=>"param-field") do
                        book_fields.label(:isbn) +
                        book_fields.text_field(:isbn, :watermark=>"ISBN")
                    end +
                    content_tag(:div, :id=>:isbn13_field, :class=>"param-field") do
                        book_fields.label(:isbn13) +
                        book_fields.text_field(:isbn13, :watermark=>"ISBN13")
                    end +
                    content_tag(:div, :publish_date_field, :class=>"param-field") do
                        book_fields.label("Publication Date") +
                        book_fields.text_field(:publish_date, :watermark=>"Publication Date")
                    end +
                    content_tag(:div, "", :id=>:book_description, :contenteditable=>"true")
                end
            end 
	    end
    end
end %>
<script type="template/text" id="book_template">
<div class="book roundabout-moveable-item"><img class="book_image"/></div>
</script>
<script>
$(function() {
    var import_books = function(books) {
        var endpoint = "<%= setup_books_path %>.json"
        $.getJSON(endpoint, function(books) {
            $.each(books, function(index, book) {
                   var book_html = $($("#book_template").text());
                   book_html.find(".book_image").attr("src", book.image);
                   book_html.data().book = book;
                   $("div#book_list").append(book_html);
console.log(book_html.data().book);
                });
   
             $("#book_list").roundabout({childSelector:".book", 
                                   minOpacity:0.9, 
                                   minScale:0.0,
                                   triggerBlurEvents:true,
                                   triggerFocusEvents:true, 
                                   shape:'roxiwareBooks', 
                                   btnNext:$('#prev_book'),
                                   btnPrev:$('#next_book'),
                                   responsive:true});
             $("#book_list .book").bind("focus", function() {
                 updateForm($(this));
             }).blur(function() {
                  //updateBook($(this));
              });
             $("#book_list .book").first().focus();
         });
   }
   $("#manage_books_page").focus(function() {
       import_books();
   });
   $("#book_list").bind("animationStart", function() {
       $("#book_edit_form").fadeOut(100, function(){console.log("fading out end");});
    });
    $("#book_title").autosize();

   function updateBook(book) {
     $(book).data().book = {
         title:$("#book_edit_form #book_title:not(.watermark)").val(),
         isbn:$("#book_edit_form input#book_isbn:not(.watermark)").val(),
         isbn13:$("#book_edit_form input#book_isbn13:not(.watermark)").val(),
         publish_date:$("#book_edit_form input#book_publish_date:not(.watermark)").val(),
         image:$("#book_edit_form input#book_raw_image").val(),
         goodreads_id:$("#book_edit_form input#book_goodreads_id").val(),
         description: $("#book_edit_form #book_description").html()
      }
     $(book).find(".book_title").text($("#book_edit_form #book_title").html());
     $(book).find("img").attr("src", $("#book_edit_form input#book_thumbnail").val());
   }
   $("#book_edit_form #book_upload_image").on("load,error", function() {
       $(this).fadeIn(100);
   });

   function updateForm(book) {
      $("#book_edit_form").css("opacity","0").css("display","block");
      $("#book_edit_form #book_title").height(1).val($(book).data().book.title).css("size","").trigger('autosize.resize');
      $("#book_edit_form").hide().css("opacity","");
      $("div#book_description").html($(book).data().book.description);
      $("#book_edit_form input#book_isbn").val($(book).data().book.isbn);
      $("#book_edit_form input#book_isbn13").val($(book).data().book.isbn13);
      // we totally remove the dateinput control then re-add it so we can deal with empty
      // date fields
      $("#book_edit_form input#book_publish_date").data("dateinput", null);
      $("#book_edit_form input#book_publish_date").val($(book).data().book.publish_date);
      $("#book_edit_form input#book_publish_date").dateinput({
                                      format: 'm/d/yyyy',
                                       trigger: true
                                   });


      $("#book_edit_form input#book_goodreads_id").val($(book).data().book.goodreads_id);
      $("#book_edit_form input#book_raw_image").val($(book).data().book.image);
      $("#book_edit_form img#book_upload_image").attr("src","").attr("src", $(book).data().book.image);
      $("[watermark]").trigger("change");
      $("#book_edit_form").fadeIn(200, function() { console.log($("#book_edit_form"));console.log("edit fade in 2");});
   }
   $("#book_edit_form div#book_description").tinymce({
          script_url:"http://cdn.roxiware.com/tools/tinymce/tinymce.min.js",
          theme: "modern",
          selector:"#book_edit_form div#book_description",
          inline:true,
          skin: "light",
          menubar: false,
          browser_spellcheck:true,
          relative_urls: false,
          verify_html:false,
          remove_script_host:true,
          document_base_url: window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: ''),
          plugins: [
              "autolink lists link image charmap anchor",
              "visualblocks code media",
              "table contextmenu paste autoresize"
          ],
          height: $("div.settings_wysiwyg").height() - 30,
          autoresize_min_height:140,
	      statusbar:false,
          schema: "html5",
          toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | code",
          setup: function(ed){ed.on('LoadContent', function() {
                    $("#manage_books").css("display","block").animate({opacity:1},100);
                 })
                 ed.on("KeyDown",  function(e) { 
                 });
                 ed.on("change",  function(e) { 
                 });
                 tinymce.ui.FloatPanel.zIndex = 10;  // Normally, the float panel defaults to 65535, but that'll overlay other dialogs
          }

   });

   $("#book_edit_form input").blur(function() {
      var current_selected_book = $(".list_box_item_selected");
      if(current_selected_book.length != 0) {
        updateBook(current_selected_book);
      }
   });
   
   $("button#save_books").click(function() {
      $("input#setup_action").val($(this).attr("id"));

      $.alertWait("We're saving your books.");

      updateBook($("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")));

      var xml_data = '<?xml version="1.0" encoding="UTF-8"?><books>';
      $(".book").each(function(index, book_node) {
          book = $(book_node).data().book
          var goodreads_id = "";
          if(book["goodreads_id"]) {
             goodreads_id="goodreads_id='"+book.goodreads_id+"'";
          }
          xml_data = xml_data + 
             '<book ' + goodreads_id + ' isbn="'+book.isbn+'" isbn13="' + book.isbn13+'" publish_date="' + book.publish_date + '">' +
                 '<title '+goodreads_id+'>'+xmlEscape(book.title)+'</title>' +
                 '<image>'+book.image+'</image>' +
                 '<description><![CDATA[ '+ book.description+']]></description>' +
              '</book>';
      });
      xml_data = xml_data + '</books>';
      $.ajaxSetParamsXML("<%= setup_path %>.xml", 
                         xml_data, 
                         {success:function() {
                             window.location.reload();
                         }});
   });

   $("div#new_book").click(function() {
       var book_id = "new";
       var book_html = $($("#book_template").html());
       book_html.find(".book_image").attr("src", "<%= default_image_path(:book, 'large') %>");
       book_html.data().book = {
           title:"New Book",
           isbn:"",
	       isbn13:"",
           publish_date:"",
           image:"<%= default_image_path(:book, 'large') %>",
           description: ""
      }
      if($("#book_list .book").length > 0) {
          $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")).after(book_html);
          updateBook($("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")));
      }
      else {
        $("#book_list").append(book_html);
      }
      $(book_html).focus(function() {
          updateForm($(this));
      });

      $(book_html).blur(function() {
          updateBook($(this));
      });
      $("#book_list").roundabout("relayoutChildren");
      $("#book_list").roundabout("animateToNextChild", function() {console.log("done");});
       
   });

   $("div#delete_book").click(function() {
        var book = $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus"));
       $("#book_edit_form").animate({opacity:0}, 100, function(){ $("#book_edit_form").css("display","hidden");});
        book.fadeOut(200, function() {
            $("#book_list").roundabout("animateToPreviousChild", null, null, function() { 
                book.remove();
                $("#book_list").roundabout("relayoutChildren"); 

            });
       });

   });
   $("#book_image.upload_target").click(function() {
     var params = {};
     var url = $("input#book_large_image").val() || "";
     params = {url:encodeURI(url), width:300, height:450};
     settingsForm("/asset/edit?"+jQuery.param(params), "Choose Image", {
         success: function(image) {
             $("img#book_upload_image").attr("src", image);
             $("input#book_raw_image").val(image);
             $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")).find("img").attr("src",image);
          }
      });
   });
    $("#book_description").blur();

});


</script>
