<%= content_tag(:div, :id=>"manage_books", :style=>"display:hidden;opacity:0") do
    content_tag(:div, :id=>"book_list_container", :class=>"settings_section") do
        content_tag(:h1, "Manage Books") +
        content_tag(:div, :id=>"add_buttons") do
            content_tag(:div, "+", :id=>"new_book", :class=>"icon-book") # +
            # content_tag(:div, "+", :id=>"new_series", :class=>"icon-books")
        end +
        content_tag(:div, "", :class=>"icon-arrow-right-9", :id=>"prev_book") +
        content_tag(:div, "", :id=>"book_list", :class=>"roundabout-holder") +
        content_tag(:div, "", :class=>"icon-arrow-left-9", :id=>"next_book") +
        content_tag(:div, :class=>"setup_buttons") do
            button_tag(:id=>"save_books") {"Done&nbsp;".html_safe + content_tag(:span, "", :class=>"icon-arrow-right-2")}
        end
    end +
    content_tag(:div, :id=>"book_info", :class=>"settings_section") do
        content_tag(:h1, "Book Information") +
        content_tag(:div, :id=>"book_info_edit") do
            render(:partial=>'roxiware/books/book_edit')
        end
    end
end %>
<script type="template/text" id="book_template">
<div class="book roundabout-moveable-item"><img class="book_image"/></div>
</script>
<script>
$(function() {
    $("button#save_button").removeAttr("disabled");
    var import_books = function(books) {
        var endpoint = "<%= setup_books_path %>.json"
        $.getJSON(endpoint, function(books) {
            $.each(books, function(index, book) {
                   var book_html = $($("#book_template").text());
                   book_html.find(".book_image").attr("src", book.image);
                   book_html.data().book = book;
                   $("div#book_list").append(book_html);
                });
   
             $("#book_list").roundabout({childSelector:".book", 
                                   minOpacity:0.9, 
                                   minScale:0.0,
                                   triggerBlurEvents:true,
                                   triggerFocusEvents:true, 
                                   shape:'roxiwareBooks', 
                                   btnNext:$('#prev_book'),
                                   btnPrev:$('#next_book'),
                                   responsive:true});
             $("#book_list .book").bind("focus", function() {
                 updateBookForm($(this).data().book);
             }).blur(function() {
                  updateBook($(this));
              });
             $("#book_list .book").first().focus();
         });
   }
   $("#manage_books_page").focus(function() {
       import_books();
   });
   $("#book_list").bind("animationStart", function() {
       //$("#book_description_edit_form").fadeOut(100, function(){console.log("fading out end");});
    });

   function updateBook(book) {
     if (!$(book).data()) {
         return;
     }
     $(":focus").blur();
     $(book).data().book = {
         title:$("#book_description_edit_form #book_title:not(.watermark)").val(),
         isbn:$("#book_description_edit_form input#book_isbn:not(.watermark)").val() || "",
         isbn13:$("#book_description_edit_form input#book_isbn13:not(.watermark)").val() || "",
         publish_date:$("#book_description_edit_form input#book_publish_date:not(.watermark)").val(),
         image:$("#book_description_edit_form input#book_large_image").val(),
         goodreads_id:$("#book_description_edit_form input#book_goodreads_id").val(),
         description: $("#book_description_edit_form #book_description").html()
      }
     $(book).find(".book_title").text($("#book_description_edit_form #book_title").html());
     $(book).find("img").attr("src", $("#book_description_edit_form input#book_thumbnail").val());
   }
   $("#book_description_edit_form #book_upload_image").on("load,error", function() {
       $(this).fadeIn(100);
   });

   $("input#book_large_image").bind("change", function() {
       var image = $(this).val();
       $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")).find("img").attr("src",image);
   });
   $("#book_description_edit_form div#book_description").tinymce({
          script_url:"http://cdn.roxiware.com/tools/tinymce/tinymce.min.js",
          theme: "modern",
          selector:"#book_description_edit_form div#book_description",
          inline:true,
          skin: "light",
          menubar: false,
          browser_spellcheck:true,
          relative_urls: false,
          verify_html:false,
          remove_script_host:true,
          document_base_url: window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: ''),
          plugins: [
              "autolink lists link image charmap anchor",
              "visualblocks code media",
              "table contextmenu paste autoresize"
          ],
          height: $("div.settings_wysiwyg").height() - 30,
          autoresize_min_height:140,
	      statusbar:false,
          schema: "html5",
          toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | code",
          setup: function(ed){ed.on('LoadContent', function() {
                    $("#manage_books").css("display","block").animate({opacity:1},100);
                 })
                 ed.on("KeyDown",  function(e) { 
                 });
                 ed.on("change",  function(e) { 
                 });
                 tinymce.ui.FloatPanel.zIndex = 10;  // Normally, the float panel defaults to 65535, but that'll overlay other dialogs
          }

   });

   $("#book_description_edit_form input").blur(function() {
      var current_selected_book = $(".list_box_item_selected");
      if(current_selected_book.length != 0) {
        updateBook(current_selected_book);
      }
   });
   
   $("button#save_books").click(function() {
      $("input#setup_action").val($(this).attr("id"));

      $.alertWait("We're saving your books.");

      updateBook($("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")));

      var xml_data = '<?xml version="1.0" encoding="UTF-8"?><books>';
      $(".book").each(function(index, book_node) {
          book = $(book_node).data().book
          var goodreads_id = "";
          if(book["goodreads_id"]) {
             goodreads_id="goodreads_id='"+book.goodreads_id+"'";
          }
          xml_data = xml_data + 
             '<book ' + goodreads_id + ' isbn="'+book.isbn+'" isbn13="' + book.isbn13+'" publish_date="' + book.publish_date + '">' +
                 '<title '+goodreads_id+'>'+xmlEscape(book.title)+'</title>' +
                 '<image>'+book.image+'</image>' +
                 '<description><![CDATA[ '+ book.description+']]></description>' +
              '</book>';
      });
      xml_data = xml_data + '</books>';
      $.ajaxSetParamsXML("<%= setup_path %>.xml", 
                         xml_data, 
                         {success:function() {
                             window.location.reload();
                         }});
   });

   $("button#save_button").click(function() {
       updateBook($("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")));
   });
   $("div#new_book").click(function() {
       var book_id = "new";
       var book_html = $($("#book_template").html());
       book_html.find(".book_image").attr("src", "<%= default_image_path(:book, 'large') %>");
       book_html.data().book = {
           title:"New Book",
           isbn:"",
	       isbn13:"",
           publish_date:"",
           image:"<%= default_image_path(:book, 'large') %>",
           description: ""
      }
      if($("#book_list .book").length > 0) {
          // save off existing book
          $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus")).after(book_html);
          $("#book_list").roundabout("relayoutChildren");
          $("#book_list").roundabout("animateToNextChild", function() {console.log("done");});
      }
      else {
        $("#book_list").append(book_html);
          $("#book_list").roundabout("relayoutChildren");
      }
      updateBookForm(book_html.data().book);
      $(book_html).focus(function() {
          updateBookForm($(this).data().book);
      });
   });

   $("div#delete_book").click(function() {
        var book = $("#book_list .book").eq($("#book_list").roundabout("getChildInFocus"));
       $("#book_description_edit_form").animate({opacity:0}, 100, function(){ $("#book_description_edit_form").css("display","hidden");});
        book.fadeOut(200, function() {
            $("#book_list").roundabout("animateToPreviousChild", null, null, function() { 
                book.remove();
                $("#book_list").roundabout("relayoutChildren"); 

            });
       });

   });
    $("#book_description").blur();
});


</script>
