<div class="wizard_instructions">
Would you like to group your books into series?<br/><br/>
We can automatically import series information for your books if they've already been listed as series in our book dataservice,
and you can create new series.  Creating a series is a great way to help your readers find book collections.  Of course
readers also want to know what order to read the books in, and a series listing will tell them that.
<br/><br/>
You can always create, delete, and manage series later, if you want to skip this step.
</div>

<%= form_tag '/setup', :method=>"put" do %>
   <div class="setup_buttons"><%= button_tag "<< Back", :id=>"back_button", :value=>"back", :type=>"button"%><%= button_tag "No, Skip Series", :id=>"skip_import", :value=>"skip", :type=>"button" %><%= button_tag "Yes, Set Up Series", :id=>"import", :value=>"import", :type=>"button" %></div>
   <%= hidden_field_tag :setup_action, "import" %>
   <%= hidden_field_tag :setup_step, @setup_step %>
<% end %>
<script>
  $(function() {
     $("button#import,button#back_button,button#skip_import").click(function() {
        $("input#setup_action").val($(this).attr("id"));
        $("form").submit();
     });
  });
</script>
