<div class="wizard_instructions">
Great, you're account has been created.  Now we need a bit of information about you.<br/><br/>
<h1>What's your name?</h1><br/>
Enter the name you'll use for your author site.  This can be your real name, a pen name, pretty much anything your want.  If you've been published, it's probably best to enter the name you've used to publish most of your books.<br/>
You can change this later, of course</br>
</div>

<%= form_tag '/setup', :method=>"put" do %>
   <%= label_tag "Name" %>
   <%= text_field_tag :first_name, "", :watermark=>"First" %> 
   <%= text_field_tag :middle_name, "", :watermark=>"Middle" %>
   <%= text_field_tag :last_name, "", :watermark=>"Last" %>

   <br/>
   <br/>
   <br/>
   <br/>
   <div class="wizard_instructions">
      <h1>Have you been published?</h1>
   If you have, we can automatically gather your biographical information for your website,
   as well as information about your books.
   </div>

   <%= hidden_field_tag :setup_action, "import" %>
   <%= hidden_field_tag :setup_step, @setup_step %>
<% end %>
<div class="setup_buttons"><%= button_tag "<< Back", :id=>"back_button", :value=>"back", :type=>"button"%><%= button_tag "No, Skip import", :id=>"skip_import", :value=>"skip", :type=>"button", :disabled=>true %><%= button_tag "Yes, Import my information", :id=>"import", :value=>"import", :type=>"button", :disabled=>true %></div>
<script>
  $(function() {
     $("button#import").button("disable");
     $("#first_name, #middle_name, #last_name").bind("input blur propertychange", function() {
        var button_enable = "disable";
        $("#first_name, #middle_name, #last_name").each(function(index, value) {
          if ((!$(this).is(".watermark")) && ($(this).val().length > 0)) {
             button_enable = "enable";
          }
        });
        $("button#import").button(button_enable);
        $("button#skip_import").button(button_enable);
     });

    $("button#back_button,button#skip_import,button#import").click(function() {
        $(".watermark").val("");
        $("input#setup_action").val($(this).attr("id"));
        $.ajax({type:"PUT",
            processData: true,
	    url: "<%= setup_path %>.json",
	    dataType: "json",
	    data: jQuery.param($("form").serializeArray()),
	    error: function(xhr, textStatus, errorThrown) {
                  $.error(errorThrown);
	    },
	    complete: function() {
	    },
	    success: function(data) {
		if(data["error"]) {
		    $(data["error"]).each(function(index, value) {
	                $.error(value[0]+": "+value[1])
                        $("form input#"+value[0]).css("background", "#ffcccc");
	            })
		}
		else {
		    window.location="<%= setup_path %>";
		}
	    }}); 

     });
  });
</script>
