<div id="form_section">
<div class="relative_wrapper">
<div class="wizard_instructions">
Make corrections to your book descriptions if needed.  You can always change their descriptons
later.
</div>
    <div id="edit_books" class="list_box">
       <div id="book_list" class="list_box_content"></div>
       <div class="edit_bar"><div id="new_book" class="edit_bar_button" title="Add a book">+</div><div id="delete_book" class="edit_bar_button" title="Remove a book">-</div></div>
    </div>
    <div id="book_edit_form">
       <%= form_for(:books, :html=>{:method=>"put", :multipart=>true, :class=>"book_edit"}) do |books| %>
	 <%= fields_for :book do |book_fields|%>
	   <%= render :partial=>"roxiware/books/book_edit", :locals=>{:book_fields=>book_fields} %>
	 <% end %>
	 <%= hidden_field_tag :setup_step, @setup_step %>
	 <%= hidden_field_tag :setup_action, "save" %>
       <% end %>
    </div>
</div>
<div class="setup_buttons">
    <%= button_tag :id=>"back_button", :value=>"back", :type=>"button" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
    <%= button_tag :id=>"save", :value=>"save", :type=>"button" do %>Next&nbsp;<span class="icon-arrow-right-2"></span><% end %>
</div>
<script>
$(function() {
    $("button#back_button").click(function() {
        $("input#setup_action").val($(this).attr("id"));
        $.ajaxSetParamsJSON("<%= setup_path %>.json", $("form").serializeArray(), {form:$("form"), success:function() {window.location.reload()}});
     });

   $.each(<%= raw @books.collect{|book| {:description=>book.description || "", 
                                         :title=>book.title || "",
                                         :isbn=>book.isbn || "", 
                                         :isbn13=>book.isbn13 || "",
                                         :publish_date=>book.publish_date.strftime("%-m/%-d/%Y") ||  "1/1/0",
                                         :goodreads_id=>book.goodreads_id || "",
                                         :large_image=>book.large_image || "",
                                         :image=>book.image || "",
                                         :thumbnail=>book.thumbnail || ""}}.to_json %>,
           function(index, book) {
               var book_html = $("<div class='book list_box_item'><img src='"+book.thumbnail+"'/><div class='book_details'><div class='book_title'>"+book.title+"</div></div></div>");
               book_html.data().book = book;
               $("div#book_list").append(book_html);
            });
   function updateBook(book) {
     $(book).data().book = {
	 title:$("#book_edit_form input#book_title").val(),
	 isbn:$("#book_edit_form input#book_isbn").val(),
	 isbn13:$("#book_edit_form input#book_isbn13").val(),
	 publish_date:$("#book_edit_form input#book_publish_date").val(),
	 large_image:$("#book_edit_form input#book_large_image").val(),
	 thumbnail:$("#book_edit_form input#book_thumbnail").val(),
	 image:$("#book_edit_form input#book_image").val(),
         goodreads_id:$("#book_edit_form input#book_goodreads_id").val(),
	 description: $("#book_edit_form textarea#book_description").wysiwyg("getContent")
      }
     $(book).find(".book_title").text($("#book_edit_form input#book_title").val());
     $(book).find("img").attr("src", $("#book_edit_form input#book_thumbnail").val());
   }
   

   function updateForm(book) {
      $("textarea#book_description").wysiwyg("setContent", $(book).data().book.description);
      $("#book_edit_form input#book_title").val($(book).data().book.title);
      $("#book_edit_form input#book_isbn").val($(book).data().book.isbn);
      $("#book_edit_form input#book_isbn13").val($(book).data().book.isbn13);
      $("#book_edit_form input#book_publish_date").val($(book).data().book.publish_date);
      var api = $("#book_edit_form input#book_publish_date").data("dateinput");
      api.setValue(new Date($(book).data().book.publish_date));

      $("#book_edit_form input#book_goodreads_id").val($(book).data().book.goodreads_id);
      $("#book_edit_form input#book_image").val($(book).data().book.image);
      $("#book_edit_form input#book_thumbnail").val($(book).data().book.thumbnail);
      $("#book_edit_form input#book_large_image").val($(book).data().book.large_image);
      $("#book_edit_form img#book_upload_image").attr("src", $(book).data().book.image);
   }

     $("#book_edit_form textarea").wysiwyg({ css: "<%= stylesheet_path('application') %>",
                                       iFrameClass:"wysiwyg_iframe", 
                                      controls: {
                                          undo: { visible: false },
                                          redo: { visible: false},
                                          insertHorizontalRule: { visible: true},
                                          html: { visible: true},
                                          insertTable: {visible: true},
                                          'fileManager': {
                                              visible: true,
                                              tooltip: "File Manager"
                                                  }
                                           }});

   
   $(".book").click(function() {
      var current_selected_book = $(".list_box_item_selected");
      current_selected_book.removeClass("list_box_item_selected");
      if((current_selected_book.length != 0) && (!$(this).is(".list_box_item_selected"))){
          updateBook(current_selected_book);
      }
      $(this).addClass("list_box_item_selected");
      updateForm($(this));
   });

   $("#book_edit_form input").blur(function() {
      var current_selected_book = $(".list_box_item_selected");
      if(current_selected_book.length != 0) {
        updateBook(current_selected_book);
      }
   });
   
   $("button#save").click(function() {
      $("input#setup_action").val($(this).attr("id"));

      $.alertWait("We're saving your books.");

      var current_selected_book = $(".list_box_item_selected");
      if(current_selected_book.length != 0) {
        updateBook(current_selected_book);
      }

      var xml_data = '<?xml version="1.0" encoding="UTF-8"?><books>';
      $(".book").each(function(index, book_node) {
          book = $(book_node).data().book
          var goodreads_id = "";
          if(book["goodreads_id"]) {
             goodreads_id="goodreads_id='"+book.goodreads_id+"'";
          }
          xml_data = xml_data + 
             '<book ' + goodreads_id + ' isbn="'+book.isbn+'" isbn13="' + book.isbn13+'" publish_date="' + book.publish_date + '">' +
                 '<title '+goodreads_id+'>'+xmlEscape(book.title)+'</title>' +
                 '<image>'+book.image+'</image>' +
                 '<large_image>'+book.large_image+'</large_image>' +
                 '<thumbnail>'+book.thumbnail+'</thumbnail>' +
                 '<description><![CDATA[ '+ book.description+']]></description>' +
              '</book>';
      });
      xml_data = xml_data + '</books>';
      $.ajaxSetParamsXML("<%= setup_path %>.xml", xml_data, {additionalData: {setup_step:"<%= @setup_step %>", setup_action:"save"}, success:function() {window.location.reload()}});
   });
   $(".book").first().click();

   $("div#new_book").click(function() {
      var current_selected_book = $(".list_box_item_selected");
      var book_id = "new";
      var book = $("<div class='book' book_id='"+book_id+"'><img src=''/><div class='book_details'><div class='book_title'>New Book</div></div></div>");
      book.data().book = {
	 title:"New Book",
	 isbn:"",
	 isbn13:"",
	 publish_date:"1/1/0000",
	 large_image:"",
	 thumbnail:"",
	 image:"",
	 description: ""
      }
      if(current_selected_book.length != 0) {
        current_selected_book.after(book);
      }
      else {
        $("#book_list").append(book);
      }
      book.click(function() {
	   var current_selected_book = $(".list_box_item_selected");
	   current_selected_book.removeClass("list_box_item_selected");
	   if((current_selected_book.length != 0) && (!$(this).is(".list_box_item_selected"))){
	       updateBook(current_selected_book);
	   }
	   $(this).addClass("list_box_item_selected");
	   updateForm($(this));
	});
        book.click();
   });

   $("div#delete_book").click(function() {
      var current_selected_book = $(".list_box_item_selected");
      current_selected_book.next().click();
      if(current_selected_book.length != 0) {
	 current_selected_book.remove();
      }
	 
   });
   
   $("input#book_thumbnail").change(function() {
      $(".list_box_item_selected").find("img").attr("src", $(this).val());
   });

});


</script>
