<div id="setup_choose_template_form">
   <%= render :partial=>"roxiware/templates/picker", :locals=>{:selected_scheme=>@default_scheme, :selected_template=>@default_template } %>
</div>
<div class="setup_buttons">
     <%= button_tag :id=>"back_button", :value=>"back", :type=>"back" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
     <%= button_tag "Save", :id=>"save_template", :type=>"button", :class=>"save_button" %>
</div>
<%= form_tag("setup", :method=>"put") do |template_form| %>
    <%= hidden_field_tag :setup_step, @setup_step %>
     <%= hidden_field_tag :setup_action, "save" %>
<% end %>

<script>
$(function() {
    $("button#back_button").click(function() {
        $("input#setup_action").val($(this).attr("id"));
        $.ajax({type:"PUT",
            processData: true,
	    url: "<%= setup_path %>.json",
	    dataType: "json",
	    data: jQuery.param($("form").serializeArray()),
	    error: function(xhr, textStatus, errorThrown) {
                  $.error(errorThrown);
	    },
	    complete: function() {
	    },
	    success: function(data) {
		if(data["error"]) {
		    $(data["error"]).each(function(index, value) {
	                $.error(value[0]+": "+value[1])
                        $("form input#"+value[0]).css("background", "#ffcccc");
	            })
		}
		else {
		    window.location="<%= setup_path %>";
		}
	    }}); 

     });

    $("button#save_template").click(function() {
        $("input#setup_action").val($(this).attr("id"));
	 $.ajax({type:"PUT",
		 processData: true,
		  url: "<%= setup_path %>.json",
		  dataType: "json",
		  data: {template_guid:$(".template_item_selected").attr("template_guid"),
                         template_scheme:$(".template_item_selected").attr("selected_scheme"),
                         setup_step:"<%=@setup_step%>",
                         setup_action:$(this).attr("id")
                         },
		  error: function(xhr, textStatus, errorThrown) {
                      $.error(errorThrown);
		  },
		  complete: function() {
		  },
		  success: function(data) {
		      if(data["error"]) {
			  $(data["error"]).each(function(index, value) {
			     $.error(value[0]+": "+value[1])
			  })
		      }
		      else {
			  window.location="<%= setup_path %>";
		      }
		  }}); 

    });
});
</script>
