<div id="form_section">
   <div id="edit_series" class="list_box">
      <div id="series_list" class="list_box_content"></div>
      <div class="edit_bar"><div id="new_series" class="edit_bar_button" title="Add a series">+</div><div id="delete_series" class="edit_bar_button" title="Remove a series">-</div></div>
   </div>
   <div id="series_edit_form">
     <%= form_for(:series, :html=>{:method=>"put", :multipart=>true}) do |series| %>
       <%= fields_for :series_fields do |series_fields|%>
         <%= render :partial=>"roxiware/books/series/series_edit", :locals=>{:series_fields=>series_fields} %>
         <%= hidden_field_tag :setup_step, @setup_step %>
         <%= hidden_field_tag :setup_action, "save" %>
       <% end %>
     <% end %>
   </div>
</div>
<div class="setup_buttons">
    <%= button_tag :id=>"back_button", :value=>"back", :type=>"button" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
    <%= button_tag :id=>"save", :value=>"save", :type=>"button" do %>Next&nbsp;<span class="icon-arrow-right-2"></span><% end %>
</div>
<script>
$(function() {

    $.each(<%= raw @series.to_json %>,
           function(index, series) {
              // add series to series list
              var series_html = $("<div class='series list_box_item'><div class='series_details'><div class='series_title'>"+series.title+"</div></div></div>");
              series_html.data().series = series;
              // add book ids for items we think are in the series
              $("div#series_list").append(series_html);
              
            });

     $(".settings_wysiwyg").wysiwyg({ css: "<%= stylesheet_path('application') %>",
                                       iFrameClass:"wysiwyg_iframe", 
                                       controls: {
                                          undo: { visible: false },
                                          redo: { visible: false},
                                          insertHorizontalRule: { visible: true},
                                          html: { visible: true},
                                          insertTable: {visible: true},
                                          'fileManager': {
                                              visible: true,
                                              tooltip: "File Manager"
                                                  }
                                           }});



    function updateSeries(series) {
      var books = [];
      $.each($("div#series_books_list div.series_book"), function(index, book) {
         books.push($(book).attr("book_id"));
      });

      $(series).data().series = {
	 title:$("#series_edit_form input#series_fields_title").val(),
	 description: $("#series_edit_form textarea#series_fields_description").wysiwyg("getContent"),
         book_ids: books
       }
    }

   function updateForm(series) {
      $("textarea#series_fields_description").wysiwyg("setContent", $(series).data().series.description);
      $("#series_edit_form input#series_fields_title").val($(series).data().series.title);
      populate_series($(series).data().series.book_ids);
   }

   $(".series").click(function() {
      var current_selected_series = $(".list_box_item_selected");
      current_selected_series.removeClass("list_box_item_selected");
      if((current_selected_series.length != 0) && (!$(this).is(".list_box_item_selected"))){
          updateSeries(current_selected_series);
      }
      $(this).addClass("list_box_item_selected");
      updateForm($(this));
   });

   $("#series_edit_form input").blur(function() {
      var current_selected_series = $(".list_box_item_selected");
      if(current_selected_series.length != 0) {
        updateSeries(current_selected_series);
      }
   });
   
   $("button#save").click(function() {
      var current_selected_series = $(".list_box_item_selected");
      if(current_selected_series.length != 0) {
        updateSeries(current_selected_series);
      }

      var xml_data = '<?xml version="1.0" encoding="UTF-8"?><series>';
      $(".series").each(function(index, series_node) {
          series = $(series_node).data().series
          var goodreads_id = "";
          if(series["goodreads_id"]) {
             goodreads_id="goodreads_id='"+series.goodreads_id+"'";
          }
          var series_books = "<books>";
          for(var book_id in series.book_ids) {
             series_books = series_books + "<book id='"+series.book_ids[parseInt(book_id)]+"' />";
          }
          series_books = series_books + "</books>";
          xml_data = xml_data + 
             '<series ' + goodreads_id +'>' +
                 '<title '+goodreads_id+'>'+xmlEscape(series.title)+'</title>' +
                 '<image_url>'+series.image_url+'</image_url>' +
                 '<large_image_url>'+series.large_image_url+'</large_image_url>' +
                 '<thumbnail_url>'+series.thumbnail_url+'</thumbnail_url>' +
                 '<description><![CDATA[ '+ series.description+']]></description>' +
                 series_books +
              '</series>';
      });
      xml_data = xml_data + '</series>';

      $("input#setup_action").val("save");
      var endpoint = "<%= setup_path %>.xml?" + $("form").serialize();

      $.ajax({
          url:endpoint,
          data:xml_data,
          processData:false,
          contentType: "application/xml",
          cache:false,
          type:'PUT',
	  error: function(xhr, textStatus, errorThrown) {
                  $.error(errorThrown);
	  },
	  complete: function() {
	  },
	  success: function(data, status, jqxhr) {
              var errors = $(data).find("error");
              if(errors.length > 0) {
	          errors.each(function(index, err) {
	              $.error($(err).find("parameter").text()+": "+$(err).find("message").text());
                  });
              }
	      else {
		  window.location="<%= setup_path %>";
	      }
         }});
   });

   $(".series").first().click();

    $("button#back_button").click(function() {
        $("input#setup_action").val($(this).attr("id"));
        $.ajax({type:"PUT",
            processData: true,
	    url: "<%= setup_path %>.json",
	    dataType: "json",
	    data: jQuery.param($("form").serializeArray()),
	    error: function(xhr, textStatus, errorThrown) {
                  $.error(errorThrown);
	    },
	    complete: function() {
	    },
	    success: function(data) {
		if(data["error"]) {
		    $(data["error"]).each(function(index, value) {
	                $.error(value[0]+": "+value[1])
                        $("form input#"+value[0]).css("background", "#ffcccc");
	            })
		}
		else {
		    window.location="<%= setup_path %>";
		}
	    }}); 

     });

   $("input#series_fields_title").bind("input blur propertychange", function() {
      var current_selected_series = $(".list_box_item_selected");
      if(current_selected_series.length != 0) {
          current_selected_series.find(".series_title").text($(this).val());
          current_selected_series.data().series.title = $(this).val();
      }
   });

   $("div#delete_series").click(function() {
      var current_selected_series = $(".list_box_item_selected");
      var next_series = current_selected_series.next();
      if (next_series.length == 0) {
          next_series = current_selected_series.prev();
      }
      current_selected_series.remove();
      if (next_series.length != 0) {
	   $(next_series).addClass("list_box_item_selected");
	   updateForm(next_series);
      }
   });

   $("div#new_series").click(function() {
      var current_selected_series = $(".list_box_item_selected");
      var series = $("<div class='series list_box_item'><div class='series_details'><div class='series_title'>New Series</div></div></div>");
      series.data().series = {
	 title:"New Series",
         description: ""
      }
      if(current_selected_series.length != 0) {
        current_selected_series.after(series);
      }
      else {
        $("#series_list").append(series);
      }
      series.click(function() {
	   var current_selected_series = $(".list_box_item_selected");
	   current_selected_series.removeClass("list_box_item_selected");
	   if((current_selected_series.length != 0) && (!$(this).is(".list_box_item_selected"))){
	       updateSeries(current_selected_series);
	   }
	   $(this).addClass("list_box_item_selected");
	   updateForm($(this));
	});
        series.click();
   });


});
</script>
