<style>
   label
   {
       width:10%;
   }
   input {
       width:50%;
   }
</style>
<div class="wizard_instructions">
Do you have any accounts with <a href="http://www.facebook.com">Facebook</a>, <a href="http://www.twitter.com">Twitter</a>, <a href="https://plus.google.com">Google+</a>, 
or other social networks?  Social networks such as these are great ways to keep in touch with your readers, and to gain new readers. Enter your username for each of the
services you're a member of.
</div>
<div class="person_edit_form">
<%= form_for current_user.person, :url=>setup_path do |person| %>
   <%= render :partial=>'roxiware/people/edit_social_networks', :locals=>{:person_form=>person, :person=>current_user.person} %>
    <%= hidden_field_tag :setup_step, @setup_step %>
    <%= hidden_field_tag :setup_action, "none" %>
<% end %>
</div>
<div class="setup_buttons">
    <%= button_tag :id=>"back_button", :value=>"back", :type=>"button" do %><span class="icon-arrow-left-2"></span>&nbsp;Back<% end %>
    <%= button_tag :id=>"save", :value=>"save", :type=>"button" do %>Next&nbsp;<span class="icon-arrow-right-2"></span><% end %>
</div>

<script>
  $(function() {

    $("button#back_button,button#save").click(function() {
        $(".watermark").val("");
        $("input#setup_action").val($(this).attr("id"));
        $.ajaxSetParamsJSON("<%= setup_path %>.json", $("form").serializeArray(), {form:$("form"), success:function() {window.location.reload()}});
     });
  });
</script>
