<div class="wizard_step">Account Creation</div>
<div class="wizard_instructions">
Thank you for joining us in the beta of the Roxiware web service for authors.  Not only will you help us 
shake any issues out of the web service, you'll be able to give valuable feedback on how we can improve
the service.<br/>
Let's get started.  First, lets set up an account.  You will use this account to manage your site.
</div>
<br/>
<%= form_tag '/setup', :method=>"put", :authenticity_token=>false do -%>
  <div id="email_entry"><%= label_tag "Email" %><%= email_field_tag :email, params[:email] , { :autocomplete=>"off", :watermark=>"my@email.com"}  %></div>
  <div id="username_entry"><%= label_tag "Username" %><%= text_field_tag :username, "", { :autocomplete=>"off", :watermark=>"myusername"}  %></div>
  <div id="password_entry"><%= label_tag "Password" %><%= password_field_tag :password,  "", { :autocomplete=>"off", :watermark=>"********" }  %></div>
  <div id="password_confirmation_entry"><%= label_tag "Password Confirmation" %><%= password_field_tag :password_confirmation, "", { :autocomplete=>"off", :watermark=>"********"} %></div>
  <%= hidden_field_tag :setup_type, @setup_type %>
  <%= hidden_field_tag :setup_step, @setup_step %>
<% end -%>
<div class="setup_buttons"><%= button_tag "Create Account", :type=>"button", :id=>"create_account", :disabled=>true %></div>
<script>
$(function() {
     $("#email, #username, #password, #password_confirmation").bind("input blur propertychange", function() {
        var button_enable = "enable";
        $("#email, #username, #password, #password_confirmation").each(function(index, value) {
          if ($(this).is(".watermark") || ($(this).val().length == 0)) {
             button_enable = "disable";
          }
        });
        $("button#create_account").button(button_enable);
     });
    $("button#create_account").click(function() {
        $(".watermark").val("");

        $.ajax({type:"PUT",
            processData: true,
	    url: "<%= setup_path %>.json",
	    dataType: "json",
	    data: jQuery.param($("form").serializeArray()),
	    error: function(xhr, textStatus, errorThrown) {
                  $.error(errorThrown);
	    },
	    complete: function() {
	    },
	    success: function(data) {
		if(data["error"]) {
		    $(data["error"]).each(function(index, value) {
	                $.error(value[0]+":"+value[1])
                        $("form input#"+value[0]).css("background", "#ffcccc");
	            })
		}
		else {
		    window.location="<%= setup_path %>";
		}
	    }}); 

     });
});
</script>
