<div class="gallery_edit_overlay popup_form overlay" id="gallery_edit_overlay">
  <%= form_tag do%>
      <div id="left_section">
         <%= label_tag :name, "Name" %>
         <%= text_field_tag :name, nil %>
      </div>
      <div id="right_section">
        <span class="popup_help_text">Click to upload.</span>
	<br/>
	<div class="upload_target gallery_image">
	   <input type="hidden" name="image_url" class="gallery_image"/>
	   <input type="hidden" name="thumbnail_url" class="gallery_thumbnail"/>
	   <img name="image_url" id="overlay_image" class="gallery_image"/>
	 </div>
      </div>
    <br/>
    <%= text_area_tag :description, nil, :class=>"popup_wysiwyg gallery_description" %>
    <br/>
    <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
  <% end %>
</div>

<script>
$(document).bind("ready", function() {
    $("button.gallery_edit, div#edit-gallery-new").overlay( {
         onClose: function() { 
         },
         target:"#gallery_edit_overlay",
         onBeforeLoad: function() {
            var gallery_id= this.getTrigger().attr("id").split("-")[2];
            var endpoint = "/gallery";
            var method = "POST";
            if (gallery_id != "new") {
               endpoint = endpoint + "/" + gallery_id;
               method = "PUT";
            }
            $(".gallery_edit_overlay").popup_form(endpoint,
                  {
                    canEdit: true,
                    method: method,
                    success: function(xhr, status) {
                       window.location = "/gallery/";
                    },
                    error: function(xhr, status) {
                      window.location = "/galleries/";
                    }
                  });
        }
    });
   
    $(".gallery_delete").click(function(event) {
          var gallery = $(this).attr("id").split("-")[2];
          endpoint = "/gallery/"+gallery + ".json";
          $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location = "/galleries/";
                   },
               });
     });      
});
</script>
