<div class="gallery_item_edit_overlay popup_form overlay" id="gallery_item_edit_overlay">
  <%= form_tag do%>
    <div id="left_section">
      <%= label_tag :person_id, "Artist"%>
      <%= select_tag(:person_id, options_from_collection_for_select(Roxiware::Person.all, :id, :full_name ))%> 
      <br/>
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, nil, :altname=>:seo_index %>
      <br/>
      <%= label_tag :medium, "Medium"%>
      <%= text_field_tag :medium, nil %>
    </div>
    <div id="right_section">
      <div class="upload_target">
      </div>
      <input type="hidden" name="image_thumbprint"/>
    </div>
    <br/>
    <%= text_area_tag :description, nil, :class=>"popup_wysiwyg gallery_item_description" %>
    <br/>
    <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
  <% end %>
</div>

<script>
$(document).bind("ready", function() {
    $("button.gallery_item_edit, div.gallery_new").overlay( {
         closeOnClick: false,
         load: false, 
         target:"#gallery_item_edit_overlay",
        mask: {
           color: '#000',
           maskId: "gallery_item_edit_mask",
           loadSpeed:200,
           opacity:0.7
        },
         onClose: function() { 
         },
         onBeforeLoad: function() {
            var gallery_id= this.getTrigger().attr("id").split("-")[2];
            var gallery_item_id= this.getTrigger().attr("id").split("-")[3];
            var endpoint = "/gallery/"+gallery_id + "/item";
            var method = "POST";
            if (gallery_item_id != "new") {
               endpoint = endpoint + "/" + gallery_item_id;
               method = "PUT";
            }
            $(".gallery_item_edit_overlay").popup_form(endpoint,
                  {
                    canEdit: true,
                    method: method,
                    uploadImageParams: {
                        image_sizes: ["small", "medium", "huge"]
                    },
                    success: function(xhr, status) {
                       window.location = "/galleries/<%= params[:gallery_seo_index] %>";
                    },
                    error: function(xhr, status) {
                      window.location = "/galleries/<%= params[:gallery_seo_index] %>";
                    }
                  });
        }
    });
   
    $(".gallery_item_delete").click(function(event) {
          var gallery_id= $(this).attr("id").split("-")[2];
          var gallery_item_id= $(this).attr("id").split("-")[3];
          var endpoint = "/gallery/"+gallery_id + "/item/"+gallery_item_id;
          $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   },
               });
     });      
});
</script>
