<section class="gallery_list">
<%
gallery_list_pages = []
@galleries.in_groups_of(Roxiware.galleries_per_row * Roxiware.gallery_rows_per_page, false) do |gallery_list_page |
  gallery_list_pages << []
  gallery_list_page.in_groups_of(Roxiware.galleries_per_row, false) do |gallery_list_row|
   gallery_list_pages.last << gallery_list_row
  end
end

%>

<div class="gallery_nav">
  <a class="prev browse"><</a>
  <div class="gallery_nav_ctrl">
    <% (0..(gallery_list_pages.size-1)).each do |page_index|%>
      <%= link_to (page_index+1), { :anchor => page_index}, {:class=>(page_index==0)?"active":""} %>
    <% end %>
  </div>
  <a class="next browse">></a>
</div>

<div id="gallery_list_scrollable" class="gallery_list_scrollable">
  <div class="gallery_list_pages">
    <% gallery_list_pages.each do |gallery_list_page| %>
      <div class="gallery_list_page"><table>
        <% gallery_list_page.each do |gallery_list_row| %>
         <tr>
           <% gallery_list_row.each do |gallery| %>
             <td>
                 <% if !gallery.id.nil? %>
	           <% if can? :edit, gallery %>
		     <div class="gallery_edit_controls">
                       <%= button_tag "Edit", :id=>"edit-gallery-#{gallery.id}", :class=>"gallery_edit button_edit", :type=>"button"  %>
                       <%= button_tag "Delete", :id=>"delete-gallery-#{gallery.id}", :class=>"gallery_delete button_delete", :type=>"button"  %>
		     </div>
		   <% end %>
                     <%= link_to({:controller=>"gallery", :action=>"show_seo", :gallery_seo_index=>gallery.seo_index }) do %>
		   <div class="button_box gallery_list_item">
                       <img src="<%= gallery.small_image_url %>" />
	               <div class="gallery_name"><%= gallery.name %></div>
                   </div>
                     <% end %> 
		 <% else %>
                   <% if can? :create, Roxiware::Gallery %>
	             <div rel="#gallery_edit_overlay" id="edit-gallery-new" class="gallery_edit button_box">
	               <div class="gallery_name"><%= gallery.name %></div>
		     </div>
		   <% end %>
		 <% end %>
	     </td>
          <% end %>
      </tr>
   <% end %></table>
   </div>
  <% end %>
 </div>
</section>

<script>
 $(document).bind("ready", function() {
    $("#gallery_list_scrollable").scrollable( {
        disabledClass: "gallery_nav_disabled",
        onSeek:function() {
          location.hash=(this.getIndex()+1);
        }
    }
    ).navigator("div.gallery_nav_ctrl");

    var scrollable = $("#gallery_list_scrollable").data("scrollable");
    if (scrollable) {
      var current_index = parseInt(location.hash.substring(1));
      if(isNaN(current_index))
      {
          current_index=1;
      }
      scrollable.seekTo(current_index-1, 0);
   }
 });
</script>

<%= render :partial=>"editform" if ((can? :edit, Roxiware::Gallery) || (can? :create, Roxiware::Gallery)) %>

