<h1> Your Logo </h1>
<% if user_signed_in? %>
  <div id="session-greeting">Welcome <%= current_user.username %></div>
<% elsif (params[:controller] != "devise/sessions") && (params[:controller] != "devise/passwords") %>
   <div id="session-greeting"><%= link_to(new_session_path('user')) do  %><span>Log&nbsp;In</span><% end %></div>
<% end %>
<% if user_signed_in?  || secret_authenticated? %>
<nav class="ddsmoothmenu" style="width:auto;" id="smoothmenu1">
  <ul>
    <li ><%= link_to_unless_current("Home", "/") do %><span>Home</span><% end %></li>
    <% if Roxiware.enable_services %>
    <li ><%= link_to "Services", "/service/service1" %>
      <ul>
         <li><%= link_to_unless_current("Service 1", "/service/service1") do %><span>Service&nbsp;1</span><% end %>
         <li><%= link_to_unless_current( "Service 2", "/service/service2") do%><span>Service&nbsp;2</span><% end %>
         <li><%= link_to_unless_current( "Service 3", "/service/service3") do%><span>Service&nbsp;3</span><% end %>
      </ul>
    </li>
    <% end %>
    <% if Roxiware.enable_blog %>
    <li ><%= link_to_unless_current "Blog", "/blog" %></li>
    <% end %>
    <% if Roxiware.enable_portfolio %>
    <li ><%= link_to_unless_current "Portfolio", "/portfolio" %></li>
    <% end %>
    <% if Roxiware.enable_gallery %>
    <li ><%= link_to "Galleries", "/galleries" %>
    <% end %>
    <% if Roxiware.enable_events %>
      <li ><%= link_to_unless_current "Events", events_path %></li>
    <% end %>
    <% if Roxiware.single_person %>
      <li ><%= link_to_unless_current("Bio", "/about") do %><span>Bio</span><% end %></li>
    <% else %>
     <li ><%= link_to_unless_current("About Us", "/about") do %><span>About</span><% end %>
       <ul>
	 <% if Roxiware.enable_people %>
	<li ><%= link_to_unless((params[:controller] == "people"), 
			       "People", 
			       "/people/") do %><span>People</span><% end %></li>
	<% end %>
	<li ><%= link_to_unless_current("Contact", "/contact") do %><span>Contact</span><% end %>
       </ul>
     </li>
    <% end %>
    <% if user_signed_in? %>
      <li ><%= link_to_unless_current("Account", roxiware.edit_self_path) %>
        <ul>
           <% if (params[:controller] != "devise/sessions") && (params[:controller] != "devise/passwords")%>
	     <li><%= link_to_unless_current( "Log Out", destroy_session_path('user'), {:method=>'delete'}) do %>Log&nbsp;Out<% end %></li>
	     <li><%= link_to_unless_current("Edit", roxiware.edit_self_path) do %><span>Edit</span><% end %></li>
           <% end -%>
       </ul>
      </li>
    <% end -%>
    <% if user_signed_in? && current_user.role="admin" %>
      <li >
         <%= link_to "Admin", "/admin" %>
         <ul>
          <li><%= link_to_unless_current("News", "/news") do %><span>News</span><% end %></li>
            <li><%= link_to_unless_current("Manage Users", roxiware.account_index_path) do %><span>Create&nbsp;User</span><% end %> </li>
         </ul>
       </li>
    <% end %>
  </ul>
</nav>
<% end %>
<script>
$(document).bind("ready", function() {
ddsmoothmenu.init({
 mainmenuid: "smoothmenu1", //menu DIV id
 orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
 classname: 'ddsmoothmenu', //class added to menu's outer DIV
 //customtheme: ["#1c5a80", "#18374a"],
 contentsource: "markup"
});
});
</script>
