<div id="layout_picker">
   <li id="category_list"><ul>
     <li class="category_entry" id=0><a>All</a><ul>
     <% @categories.each do |category| %>
	<li class='category_entry' id="<%= category.id %>">
	  <a><%=category.name%></a>
	</li>
      <% end %>
   </ul></li></ul></li>
   <div id="template_pane"><div id="template_list"></div></div>
</div>

<div id="template_popup" class="medium_form"><a id="template_popup_close">x</a>
  <div id="template_popup_form">
   <div id="left_pane"></div>
   <div id="right_pane">
      <div id="pane_content">
         <div id="name"></div>
         <div id="description"></div>
         <div id="schemes"></div>
       
         <%= button_tag "Select", :id=>"save_template", :type=>"button", :class=>"save_button" %>
      </div>
   </div>
</div></div>

<script>
$(function() {
   var layouts = <%= raw @layouts.to_json %>;
   if(layouts["<%=selected_template%>"] &&
       layouts["<%=selected_template%>"]['schemes'] &&
       layouts["<%=selected_template%>"]['schemes']["<%=selected_scheme%>"]) {
       layouts["<%=selected_template%>"]['schemes']["<%=selected_scheme%>"]['selected'] = true;
   }
   $("button").button();

    $("#category_list").jstree({
        "themes" : {"no_load" : true, url:"/assets/themes/default/style.css", theme:"default", "icons":false, "dots":false},
        "html_data" : {
        },
        "ui" : {
           "select_limit" : 1,
           "selected_parent_close" : "select_parent",
            "initially_select" : [ "0" ]
        },

        "plugins" : [ "themes", "html_data", "ui" ]
    });

    $("#category_list").bind("loaded.jstree", function () {
       $("#category_list").jstree("open_all");
   });
   $("#category_list").bind("select_node.jstree", function(event, data) {
       $(".category_entry_selected").removeClass("category_entry_selected");
       $(this).addClass("category_entry_selected");
       var template_list = $("div#template_list");
       template_list.html("");
       var cat_id = parseInt(data.rslt.obj.attr("id"));
       $.each(layouts, function(index, layout) {
           if((!cat_id) || 
              (layout['categories'].length == 0) || 
              ($.inArray(cat_id, layout['categories']) == 1)) {
		  var layout_html = "<div class='template_item' id='"+index+"' template_guid='"+ layout['guid']+"'>" +
			 "<img src='"+layout['thumbnail_url']+"'/>" +
			 "<div class='template_item_name'>"+layout['name']+"</div>" +
			 "</div>";
		  template_list.append(layout_html);
               }
        
       });
       $(".template_item").overlay({
               close:$("#template_popup_close"),
               target:$("#template_popup"),
	       top: "10%",
               oneInstance: false,
	       zIndex: 100000,
               closeOnClick: true,
               closeOnEsc: true,
               onBeforeLoad: function(e) {
                  // we've selected a layout, so populate the layout info, including images, description, schemes
                  var trigger = this.getTrigger();
	          var layout = layouts[parseInt($(trigger).attr("id"))];
		  $("div#template_popup_form").attr("template_guid", $(trigger).attr("template_guid"));
		  $("div#name").text(layout['name']);
		  $("div#description").html(layout['description']);

		  $("div#template_popup div#schemes").html("");
		  $("div#template_popup div#left_pane").html("");
		  $.each(layout['schemes'], function(index, layout_scheme){
		     $("div#template_popup div#schemes").append($("<a class='template_scheme' href='"+index+"' id='"+layout_scheme['id']+"'><img src='"+layout_scheme['thumbnail_image']+"'/><div class='template_scheme_name'>"+layout_scheme['name']+"</div></a>"));
		     var layout_images = $("<div class='layout_image_block'><div class='layout_image_block_images'></div><div class='layout_image_block_tabs'></div></div>");
		     $.each(layout_scheme['large_images'], function(index, image) {
			layout_images.find(".layout_image_block_images").append("<div><img src='"+image+"'/></div>");
			layout_images.find(".layout_image_block_tabs").append("<a class='layout_image_block_tab'>"+index+"</a>");
		     });
                     
		     layout_images.find(".layout_image_block_tabs").tabs(layout_images.find(".layout_image_block_images > div",
		     {
		     }));
		     $("div#template_popup div#left_pane").append(layout_images);
		  });

		  $("div#template_popup div#schemes").tabs("div#template_popup div#left_pane > div", { });
		  var api = $("div#template_popup div#schemes").data("tabs");
                  current_scheme=$("div#template_popup div#schemes a#<%=selected_scheme%>");
		  $("div#template_popup_form").attr("template_scheme", current_scheme.attr("id"));
		  api.onClick(function(index) {
		     $("div#template_popup_form").attr("template_scheme", api.getCurrentTab().attr("id"));
		  });
		  console.log("current_scheme " + current_scheme.index());
                  if(current_scheme.index() < 0) {
		     current_scheme = $("div#template_popup div#schemes a").first();
                  }
		  console.log("current_scheme fixed " + current_scheme.index());
                  api.click(current_scheme.index());
               }
       });

       $(".template_item[template_guid=<%=selected_template%>]").addClass("template_item_selected");
      $(".category_entry").first().click();
  });
});
</script>
