
<div class="contact"><div><%= ::AppConfig.company_phone %> | <%= mail_to ::AppConfig.company_email %> | &copy; <%= DateTime.now.year.to_s + " " +  ::AppConfig.copyright %></div>
<address><%= ::AppConfig.company_address %> | <%= ::AppConfig.company_address2 %> | <%= ::AppConfig.company_city %>, <%= ::AppConfig.company_state %>&nbsp;&nbsp;<%= ::AppConfig.company_zip %></address></div>
