<td class="sidebar span-4">
  <% if @featured_blurb %>
     <div class="featured_blurb">
       <q><%= @featured_blurb.blurb %></q>
       <%= link_to  (
                { :controller=>"roxiware/portfolio_entries", 
                     :action => "index", 
                     :anchor => @featured_blurb.seo_index}) do %>
               <%= @featured_blurb.name %>
       <% end %>
     </div>
  <% end %>
  <% if (!@portfolio_entries.nil?) && (@portfolio_entries.count() > 0) %>
    <div class="sidebar_portfolio_entries">
     <h1>Featured Clients</h1>
     <% @portfolio_entries.each do |portfolio_entry| %>
       <%= link_to ({ :controller=>"roxiware/portfolio_entries", :action => "index", :anchor => portfolio_entry.seo_index}, :class=>"button_box portfolio_entry") do %>
          <img src="<%= portfolio_entry.thumbnail_url %>"/>
     <% end %>
    <% end %>
   </div>
  <% end %>
</td>
