<div class="series"  rel="<%= book_series_path(@series.id) %>">
  <div class="series_info">
     <% if (can? :edit, @series) %>
         <div class="manage_series_menu manage_menu" id="manage_<%= @series.id %>"><ul>
             <li><div class="manage_button icon-arrow-down-9"></div><ul>
		<li class="edit_series"><a>Edit</a></li>
		<li class="delete_series"><a>Delete</a></li>
	    </ul></li></ul></div>
     <% end %>

    <div class="series_title"><%= @series.title %></div>
    <div class="series_description"><%= raw @series.description %></div>
  </div>
  <section class="books_listing">
    <%= render :partial=>"roxiware/books/books",  :locals=>{:display_type=>@books_display_type, :books=>@series.books.order(:series_order)} %>
  </section>
</div>
<% if can? :edit, @series %>
    <ul id="series_show_application_menu" class="application_menu"><li><span aria-hidden="true" class="icon-books"></span>&nbsp;Series<ul>
       <li><a rel="<%= edit_book_series_path(@series.id)%>" form="Edit Series"><span aria-hidden="true" class="icon-quill"></span>&nbsp;Edit</a></li>
       <li><a id="delete_series_app_menu" form="Delete Series">Delete</a></li>
    </ul></li></ul>
   <%= render :partial=>"roxiware/books/series/context_menus" %>
   <ul id="series_context_menu" class="context_menu">
      <li id="edit_series"><a menu_item="edit_series"><span aria-hidden="true" class="icon-quill"></span>&nbsp;Edit Series</a></li>
      <li id="delete_series"><a menu_item="delete_series">Delete Series</a></li>
   </ul>
   <script>
     $(document).bind("ready", function() {
       $("#mainBody").context_menu("#series_context_menu");
       $("#delete_series_app_menu").click(function() {
           $("#mainBody").trigger("context_menu", "delete_series");
       });
       $("#mainBody").on("context_menu", function(event, menu_item) {
	  switch (menu_item) {
	     case "new_series":
	       settingsForm("<%= new_book_path %>", "New Series");
	       break;
	     case "delete_series":
	       if(confirm("Remove Series\nAre you sure?")) {
		 $.ajax({url:"<%= book_series_path(@series.id)%>",
			 type:"DELETE",
			 dataType: "json",
			 success: function(json_data, textStatus, jqXHR) {
			    window.location = "<%= books_path %>";
			 }
		  });
	       }
	       break;
	  };
     });
   });
   </script>
<% end %>
