<%= render :partial=>"forum_menu" %>
<%= content_tag(:div, :id=>@topic.id, :class=>"forum_topic", :rel=>forum_update_topic_path(@topic.board.seo_index, @topic.id)) do %>
    <%= content_tag(:div, :class=>"forum_topic_header forum_topic_menu_target", :topic_permission=>@topic.permissions) do %>
        <%= content_tag(:div, @topic.unread_post_count(@topic_last_read), :class=>(@topic.unread_post_count(@topic_last_read) > 0) ? "forum_topic_new_posts" : "forum_topic_no_new_posts") %>
        <%= link_to("", forum_index_path, :class=>"forum_home_title") %>
        <%= link_to(@topic.board.name, forum_path(@topic.board.seo_index), :class=>"forum_board_title") %>
        <%= content_tag(:div, @topic.title, :class=>"forum_topic_title") %>
        <%= content_tag(:div, @topic.root_post.comment_date.strftime("%c"), :class=>"forum_topic_post_date") if @topic.root_post.present? %>
    <% end %>
    <%= content_tag(:div, :class=>"comments") do %>
        <%= raw Roxiware::CommentHelper.display_comments(@comments, :allow_reply=>true, :allow_edit=>(current_user.present? && current_user.is_admin?), :comment_date_format=>"%c", :comment_header_format=>@forum_post_header_format) %>
    <% end if @comments.present? %>
<% end %>
<% if can? :post, @topic %>
<%= render :partial=>"roxiware/shared/comment_form", :locals=>{:additional_fields=>""} %>
<% end %>
<% if can? :edit, @topic %>
<%= content_tag(:ul, :id=>"topic_edit_application_menu", :class=>"application_menu") do
    content_tag(:li) do
        content_tag(:a, :rel=> forum_edit_topic_path(@topic.board.seo_index, @topic.id), :form=>"Edit Topic") do
            content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-pencil")+content_tag(:span, "Edit Topic", :class=>"top_menu_text")
        end
    end +
    content_tag(:li) do
        content_tag(:a, :id=>"delete_forum_topic_app_menu") do
            content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-remove")+content_tag(:span, "Delete Topic", :class=>"top_menu_text")
        end
    end +
    content_tag(:li, :class=>"forum_topic_moderate_menu forum_topic_permission_#{@topic.permissions}") do
        content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-bubbles")+content_tag(:span, "Permissions", :class=>"top_menu_text") +
        content_tag(:ul, :class=>"moderate_options") do
            Roxiware::Forum::Topic::ALLOWED_TOPIC_PERMISSIONS.collect do |permission|
                current_perm = "selected_item" if @topic.permissions == permission
                content_tag(:li, :class=>"forum_topic_permission") do
                    content_tag(:a, :id=>permission, :class=>current_perm) do
                        content_tag(:span, "", :class=>"icon-checkmark menu-icon") + content_tag(:span, permission.titleize)
                    end
                end
            end.join("").html_safe
        end
    end
end %>
<%= render :partial=>"roxiware/forum/context_menus" %>
<% end %>


<script id="topic_nav_template" type="text/template">
<%= 
    content_tag(:a, "", :id=>"prev_new_topic", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Previous Unread Topic") +
    content_tag(:a, "", :id=>"prev_topic", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Previous Topic") +
    content_tag(:a, "", :id=>"forum_board_nav", :href=>forum_path(@topic.board.seo_index), :class=>"icon-forum-nav", :title=>@topic.board.name) +
    content_tag(:a, "", :id=>"next_topic", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Next Topic") +
    content_tag(:a, "", :id=>"next_new_topic", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Next Unread Topic")
%>
</script>

<script>
$(function() {
<% if @reader.present? %>
    var logged_in = true;
<% else %>
    var logged_in = false;
<% end %>
    var update_topic = function(topic) {
        $(".comment").removeClass("unread_comment");
        $.each(topic.unread, function(index, post_id) {
            $(".comment[comment_id="+post_id+"]").addClass("unread_comment");
        });
    }
    var get_last_read = function() {
        var forum_last_read;
        if (localStorage.forumLastRead) {
            try{
                forum_last_read = JSON.parse(localStorage.forumLastRead);
            }
            catch(e) {
                localStorage.removeItem("forumLastRead");
            }
        }
        if(!forum_last_read) {
            forum_last_read = {}
        }
        if(!forum_last_read["<%= @board.id %>"]) {
            forum_last_read["<%= @board.id %>"]={};
        }
        return forum_last_read;
    }
<% if !user_signed_in? %>
    $("body").bind("oauth_login", function(e, auth_info) {
        if (auth_info) {
            if(logged_in) {
                return;
            }
            logged_in = true;
            $.getJSON("<%= @topic.topic_link %>.json", function(data) {
                update_topic(data);
            });
        }
        else {
            logged_in = false;
            var last_read_data = get_last_read();
            var forum_last_read = last_read_data["<%= @board.id %>"];
            var url = "<%= @topic.topic_link %>.json";
            $.ajax({
                type:"GET",
                url: "<%= @topic.topic_link %>.json",
                processData: true,
                data: {last_read:forum_last_read},
                error: function(xhr, textStatus, errorThrown) {
                    $.error(errorThrown);
                },
                complete: function() {
                },
                success: function(data) {
                    update_topic(data);
                    last_read_data["<%= @board.id %>"][<%= @topic.id %>] = (new Date).getTime()/1000;
		    localStorage.forumLastRead = JSON.stringify(last_read_data);
                }
             });
            
        }
    });

    $.oAuthCheckLoggedIn();
<% end %>

<% if can? :post, @topic %>
    $("#forum_controls").append("<a id='new_response' class='icon-forum-controls' title='New Response'></a>");
    $("#forum_controls #new_response").click(function() {
        $(".comment_form")[0].scrollIntoView(false);
        tinyMCE.get("comment_content").focus();
    });
<% end %>

    // set up nav
    $("#forum_nav").append($($("#topic_nav_template").text()));

<% if @prev_new_topic %>
    $("#prev_new_topic").removeClass("forum_disabled_nav").attr("href","<%= @prev_new_topic.topic_link %>");
<% end %>
<% if @next_new_topic %>
    $("#next_new_topic").removeClass("forum_disabled_nav").attr("href","<%= @next_new_topic.topic_link %>");
<% end %>
<% if @prev_topic %>
    $("#prev_topic").removeClass("forum_disabled_nav").attr("href", "<%= @prev_topic.topic_link %>");
<% end %>
<% if @next_topic %>
    $("#next_topic").removeClass("forum_disabled_nav").attr("href", "<%= @next_topic.topic_link %>");
<% end %>
    $("#forum_menu").addClass("forum_menu_ready");

    $(".unread_comment").first().prev().each(function(index, object) {
        $(object)[0].scrollIntoView(true);
    });

<% if can? :delete, @topic %>
    $("#delete_forum_topic_app_menu").click(function() {
        $(".forum_topic").trigger("context_menu", "delete_forum_topic");
    });
<% end %>


    var root_comment_form = $(".comment_form");
    root_comment_form.attr("id", "root_form");


<% if can? :post, @topic %>
    initCommentForm("<%= comment_index_path %>.json", <%= @topic.id %>, "Roxiware::Forum::Topic");

    /* Move the comment form when comment_reply is clicked */ 
    $("a.comment_reply").click(function() {
        var parent_id = $(this).parents("[comment_id]").attr("comment_id");
        var form_div = $(".comment_form");
        form_div.attr("id", "reply_to_"+parent_id);
        form_div.find("input[name=parent_id]").val(parent_id);
        $(this).after(form_div);
     });
<% end %>
<% if can? :edit, @topic %>
    var csrf_token = $('meta[name="csrf-token"]').attr('content');
    var csrf_param = $('meta[name="csrf-param"]').attr('content');

    $(".manage_comment").each(function(index, menu) {
	    ddsmoothmenu.init({
		mainmenuid: $(this).attr("id"),
		rightalign: true,
		orientation: 'h',
		classname: 'manage_menu',
		contentsource: "markup"
	    });
    });


    /* handle comment permissions */
    $(".forum_topic_moderate_menu .forum_topic_permission a").click(function(e) {
        e.stopPropagation();
        var self = $(this);
        var old_perm = $(".forum_topic_moderate_menu .forum_topic_permission").attr("id");
        if(self.is(".selected_item")) { return; }
        var forum_topic = self.parents(".forum_topic");
        var upload_params = {forum_topic:{permissions:self.attr("id")}};
        if (csrf_param !== undefined && csrf_token !== undefined) {
            upload_params[csrf_param] = csrf_token;
        };
       $.ajax("<%= forum_update_topic_path(@topic.board.seo_index, @topic.id) %>.json", {
           type:"PUT",
	   data: upload_params,
           dataType: "json",
	   error: function (jqXHR, textStatus, errorThrown) {
	       $.alert(errorThrown);
           },
           success: function() {
             $(".forum_topic_moderate_menu .forum_topic_permission a").removeClass("selected_item");
             self.addClass("selected_item");
             $(".forum_topic_moderate_menu")<%= Roxiware::Forum::Topic::ALLOWED_TOPIC_PERMISSIONS.collect{|permission| ".removeClass('forum_topic_permission_#{permission}')"}.join("").html_safe %>;
             $(".forum_topic_moderate_menu").addClass("forum_topic_permission_"+self.attr("id"));
             $(".forum_topic_header").attr("topic_permission", self.attr("id"));
           }
	});
    });

    /* Handle publish/hide comment */
    $(".manage_comment .publish_comment, .manage_comment .hide_comment").click(function() {
        if($(this).parent().is(".selected_item")) {
            return;
        }
        var manage_comment = $(this).parents("[comment_id]").first();
        var self = $(this);
        var comment_id = manage_comment.attr("comment_id");
        var upload_params = {comment_status:$(this).is(".publish_comment")?"publish":"moderate"};

	$.ajax("/comment/"+comment_id+".json", {
		type:"PUT",
                data: upload_params,
	       error: function(xhr, textStatus, errorThrown) {
	                  $.error(errorThrown);
		      },
	       complete: function() {
		       },
	       success: function(data) {
			    if(data["error"]) {
			        $(data["error"]).each(function(index, value) {
				    $.error(value[1])
				    comment_form.find("input#"+value[0]).css("background", "#ffcccc");
			        });
			    }
			    else {
                                manage_comment.find(".manage_menu .publish_comment, .manage_menu .hide_comment").parent().toggleClass("selected_item");
                                manage_comment.find(".comment_moderate_indicator").first().toggleClass("comment_status_publish").toggleClass("comment_status_moderate");
		            }
                        }

        });
    });

    /* Handle delete */
    $(".manage_comment .delete_comment").click(function() {
        var manage_comment = $(this).parents("[comment_id]").first();
        var self = $(this);
        var comment_id = manage_comment.attr("comment_id");
        var delete_params = {}
	$.ajax("/comment/"+comment_id+".json", {
	       type:"DELETE",
               data: delete_params,
	       error: function(xhr, textStatus, errorThrown) {
	                  $.error(errorThrown);
		      },
	       complete: function() {
		       },
	       success: function(data) {
			    if(data["error"]) {
			        $(data["error"]).each(function(index, value) {
				    $.error(value[1])
				    comment_form.find("input#"+value[0]).css("background", "#ffcccc");
			        });
			    }
			    else {
			        window.location = "<%= forum_path(@topic.board.seo_index) %>";
		            }
                        }
        });
    });
<% end %>
});
</script>
<% if can? :edit, @topic %>
<%= render :partial=>"roxiware/forum/topic_manage_control" %>
<% end %>

