<%= render :partial=>"forum_menu" %>
<%= content_tag(:div, :id=>"forum_board_info", :class=>"forum_board_menu_target", :rel=>forum_path(@board.id), :board_permission=>@board.permissions) do 
    link_to("", forum_index_path, :class=>"forum_home_title") +
    content_tag(:div, @board.name, :class=>"forum_board_title") 
end
%>
<%= 
comment_date_format = "%D %l:%M %p"

content_tag(:div, :id=>@board.id, :class=>"forum_board") do 
    content_tag(:div, :class=>"forum_board_header") do 
        content_tag(:div, @board.name, :class=>"forum_board_name") +
        (content_tag(:div, @board.description, :class=>"forum_board_description") if @board.description.present?) +
	content_tag(:div, :class=>"forum_board_counters") do 
	    content_tag(:div, @board.topic_count, :class=>"forum_board_topic_count") +
	    content_tag(:div, @board.post_count, :class=>"forum_board_post_count") +
            (content_tag(:div, @board.pending_post_count, :class=>"forum_board_pending_post_count") if can?(:edit, :@board))
	end 
    end +
    content_tag(:div, :class=>"forum_topics") do
        content_tag(:div, :class=>"forum_topics_header") do 
            content_tag(:div, "", :class=>"forum_topic_info_header") +
            content_tag(:div, "", :class=>"forum_topic_num_posts_header") +
            content_tag(:div, "", :class=>"forum_topic_num_views_header") +
            content_tag(:div, "", :class=>"forum_topic_last_post_header") 
        end +
	@topics.collect do |topic|
            if(@reader.present?)
                num_new_posts = [topic.post_count, @unread_post_counts[topic.id] || 0].min
                new_post_class=(@unread_post_counts.include?(topic.id) ? "forum_new_posts" : "forum_no_new_posts")
            else
                num_new_posts = topic.post_count
                new_post_class = "forum_new_posts"
            end
            permissions_class= "topic_permission_"+(topic.permissions != "board" ? topic.permissions : @board.permissions)
	    content_tag(:div, :id=>topic.id, :class=>"forum_topic #{new_post_class}", :rel=>forum_update_topic_path(@board.seo_index, topic.id)) do 
		content_tag(:div, :class=>"forum_topic_info") do
	            content_tag(:div, "", :class=>"forum_topic_priority_#{topic.priority} forum_topic_priority") +
	            content_tag(:div, "", :class=>permissions_class+" forum_topic_permissions") +
	            link_to(topic.title, topic.topic_link, :class=>"forum_topic_title") +
                    if(topic.root_post.present? && topic.root_post.comment_author.present?)
                        comment_author_url = topic.root_post.comment_author.get_author_url
                        if(comment_author_url.present?)
		            link_to(topic.root_post.comment_author.display_name, comment_author_url, :class=>"forum_topic_author")
                        else
                            content_tag(:div, topic.root_post.comment_author.display_name, :class=>"forum_topic_author")
                        end
                    end +
		    (content_tag(:div, topic.root_post.comment_date.localtime.strftime(comment_date_format), :class=>"forum_topic_post_date") if topic.root_post.present?)
	        end + 
		content_tag(:div, :class=>"forum_topic_post_count") do
                    content_tag(:span, topic.post_count, :class=>"forum_topic_num_posts") +
                    (content_tag(:span, topic.pending_post_count, :class=>"forum_topic_pending_post_count") if can?(:edit, @board)) +
		    content_tag(:span, num_new_posts, :class=>"forum_topic_num_new_posts")
                end +
		content_tag(:div, :class=>"forum_topic_num_views") do
                    content_tag(:span, topic.views, :class=>"forum_topic_views") 
                end +
		content_tag(:div, :class=>"forum_topic_last_post forum_topic_menu_target", :topic_permission=>topic.permissions, :topic_priority=>topic.priority) do
                    if(topic.last_post.present? && topic.last_post.comment_author.present?)
                        comment_author_url = topic.last_post.comment_author.get_author_url
                        if(comment_author_url.present?)
		            link_to(topic.last_post.comment_author.display_name, comment_author_url, :class=>"forum_topic_author")
                        else
                            content_tag(:div, topic.last_post.comment_author.display_name, :class=>"forum_topic_author")
                        end
                    end +
                    (content_tag(:div, topic.last_post.comment_date.localtime.strftime(comment_date_format), :class=>"forum_topic_post_date") if(topic.last_post.present?))
                end 
	    end
        end.join("").html_safe
    end 
end %>

<script id="board_nav_template" type="text/template">
<%= 
    content_tag(:a, "", :id=>"prev_board", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Previous Board") +
    content_tag(:a, "", :id=>"forum_home", :href=>forum_index_path, :class=>"icon-forum-nav", :title=>"Forum Home") +
    content_tag(:a, "", :id=>"next_board", :class=>"icon-forum-nav forum_disabled_nav", :title=>"Next Board")
%>
</script>

<script>
$(function() {
<% if @reader.present? %>
    var logged_in = true;
<% else %>
    var logged_in = false;
<% end %>
    var get_last_read_info = function() {
        var forum_last_read;
        if (localStorage.forumLastRead) {
            try{
                forum_last_read = JSON.parse(localStorage.forumLastRead)
            }
            catch(e) {
                localStorage.removeItem("forumLastRead");
            }
        }
        if(!forum_last_read) {
            forum_last_read = {}
        }
        if(!forum_last_read["<%= @board.id %>"]) {
            forum_last_read["<%= @board.id %>"]={};
        }
        return forum_last_read;
    }


    // set up nav
    $("#forum_nav").append($($("#board_nav_template").text()));
<% if @prev_board %>
    $("#prev_board").removeClass("forum_disabled_nav").attr("href","<%= forum_path(@prev_board.seo_index) %>").attr("title", "<%= @prev_board.name %>");
<% end %>
<% if @next_board %>
    $("#next_board").removeClass("forum_disabled_nav").attr("href","<%= forum_path(@next_board.seo_index) %>").attr("title", "<%= @next_board.name %>");
<% end %>
    $("#forum_menu").addClass("forum_menu_ready");

    var mark_all_as_read = $("<a id='mark_all_as_read' class='icon-forum-controls' title='Mark All as Read'></a>").click(function() {
       $.alert("Mark All As Read", {
           onYes: function() {
                if(logged_in) {
		    $.ajaxSetParamsJSON("<%= forum_path(@board.id)%>.json", {mark_all_as_read:true}, {success:function() {
                        $(".forum_topic").removeClass("forum_new_posts").addClass("forum_no_new_posts");
                        $(".forum_topic_num_new_posts").text("");
		    }});
                }
                else {
	            var last_read_info = get_last_read_info();
		    last_read_info["<%= @board.id %>"] = {0:(new Date).getTime()/1000};
		    localStorage.forumLastRead = JSON.stringify(last_read_info);
                    $(".forum_topic").removeClass("forum_new_posts").addClass("forum_no_new_posts");
                    $(".forum_topic_num_new_posts").text("");
                }
           },
           onCancel: function() { }
       })
   });

    $("#forum_controls").append(mark_all_as_read);

    var update_topics = function(topics) {
        $(".forum_topic").removeClass("forum_no_new_posts").addClass("forum_new_posts");
        $(".forum_topic").each(function(index, topic) {
            $(topic).find(".forum_topic_num_new_posts").text($(topic).find(".forum_topic_num_posts").text());
        });
        $.each(topics, function(topic_id, topic_data) {
            var topic = $("#"+topic_id+".forum_topic");
            topic.find(".forum_topic_num_new_posts").text(topic_data["num_new_posts"]);
            topic.find(".forum_topic_num_posts").text(topic_data["num_posts"]);
            if(!topic_data["changed"]) {
                topic.removeClass("forum_new_posts").addClass("forum_no_new_posts");
            }
        });
    }
<% if !user_signed_in? %>
    // if login or logout happens, refresh the 'read' state
    $("body").bind("oauth_login", function(e, auth_info) {
        if (auth_info) {
            if(logged_in) {
                return;
            }
            logged_in = true;
            $.getJSON("<%= forum_path(@board.seo_index) %>.json", function(data) {
                update_topics(data);
            });
        }
        else {
            logged_in = false;
            var forum_last_read = get_last_read_info();
            $.ajax({
                type:"GET",
                url: "<%= forum_path(@board.seo_index) %>.json",
                processData: true,
                data: {last_read:forum_last_read[<%= @board.id %>]},
                error: function(xhr, textStatus, errorThrown) {
                    $.error(errorThrown);
                },
                complete: function() {
                },
                success: function(data) {
                    update_topics(data);
                }
             });
            
        }
    });
    $.oAuthCheckLoggedIn();
<% end %>
});


</script>


<% if can? :create_topic, @board %>
    <%= render :partial=>"roxiware/shared/comment_form", :locals=>{:additional_fields=>content_tag(:div, :id=>"comment_form_title") {label_tag(:title) + " " + text_field_tag(:title, "", :watermark=>"Title")}} %>
<script>
    $(function() {
	$("#forum_controls").append("<a id='new_topic' class='icon-forum-controls' title='New Topic'></a>");
	$("#forum_controls #new_topic").click(function() {
	    $(".comment_form")[0].scrollIntoView(false);
	    tinyMCE.get("comment_content").focus();
	});

	initCommentForm("<%= forum_create_topic_path(@board.seo_index) %>.json", 0, "Roxiware::Forum::Topic");
	$(".forum_new_posts").first().prev().each(function(index, object) {
	    $(object)[0].scrollIntoView(true);
	});
    });
</script>
<% end %>
<% if can? :edit, Roxiware::Forum::Topic %>
<%= render :partial=>"roxiware/forum/topic_manage_control" %>
<% end %>
<% if can? :edit, @board %>
<%= render :partial=>"roxiware/forum/board_manage_control" %>
<% end %>

