<% if @people.present? %>
  <nav class="people_list">
     <% @people.each do |person|
       if ((params[:controller] == "roxiware/people") && (params[:action]=="show_seo") && (params[:seo_index] == person.seo_index )) %>
         <div class="person_directory_entry span-3 button_box button_box_selected">
           <div class="person_name"><%= person.first_name + " " + person.last_name %></div>
           <div class="role"><%= person.role %></div>
         </div>
     <% else %>
       <%= link_to({:action=>"show_seo", :seo_index=>person.seo_index}) do %>
        <div class="person_directory_entry span-3 button_box">
          <div class="person_name"><%= person.first_name + " " + person.last_name %></div>
          <div class="role"><%= person.role %></div>
        </div>
       <% end %>
   <% end %>
  <% end %>
  <% if (can? :create, Roxiware::Person) %>
    <div rel="#person_edit_overlay" id="edit-person-new" class="person_directory_entry span-3 button_box">
    Add Person
    </div>
  <% end %>
</nav>
<% end %>
