<div class="tab_form">
  <ul class="tabs">
    <li><a>Edit</a></li>
    <li><a>Social Networks</a></li>
  </ul>
  <div class="panes">
    <div id="details_pane">
	<%= render :partial=>"roxiware/people/edit_biography", :locals=>{:person=>person, :person_form=>person_form} %>
    </div>
    <div id="social_networks_pane">
	<%= person_form.label :twitter, "Twitter"%>
	<%= person_form.text_field :twitter %>
        <br/>

	<%= person_form.label :facebook, "Facebook"%>
	<%= person_form.text_field :facebook %>
        <br/>

	<%= person_form.label :google, "Google+"%>
	<%= person_form.text_field :google %>
    </div>
  </div>
</div>
<script>
 $(function() {
     $("#biography_edit_form ul.tabs").tabs($("#biography_edit_form div.panes > div"));
     $("#biography_edit_form img.upload_target").bind("click", function() {
        console.log("image dialog");
        imageDialog({
	     initialImage: "<%= person.large_image_url %>",
             previewSize:"large",
             uploadParams:{
               imageSizes: {
                  large: {width:300, height:450},
                  medium: {width:100, height:150},
                  thumbnail:  {width:50, height:75}
               }
             },
             sizeLimit: 10000000,
	     onSuccess: function(upload_result){
                 $("#biography_edit_form input#person_image_url").val(upload_result["urls"]["medium"]);
                 $("#biography_edit_form input#person_thumbnail_url").val(upload_result["urls"]["thumbnail"]);
                 $("#biography_edit_form input#person_large_image_url").val(upload_result["urls"]["large"]);
                 $("#biography_edit_form img#person_portrait").attr("src", upload_result["urls"]["medium"]);
                 $("input#person_image_url, input#person_thumbnail_url, input#person_large_image_url").trigger("change");
             }});
       });
 });
</script>
