<div id="social_networks_pane">
   <%= person_form.label :twitter, "Twitter"%>
   <%= person_form.text_field :twitter, :watermark=>"Twitter Username (ie. 'janedoe')" %>
   <br/>

   <%= person_form.label :facebook, "Facebook"%>
   <%= person_form.text_field :facebook, :watermark=>"Facebook Username (ie. 'johndoe')" %>
   <br/>

   <%= person_form.label :google, "Google+"%>
   <%= person_form.text_field :google, :watermark=>"Twitter User ID (ie. 'doejane')" %>
</div>
