<div class="person_edit_overlay popup_form overlay" id="person_edit_overlay">
  <%= form_tag do%>
      <div id="left_section">
        <%= check_box_tag :show_in_directory%>
        <%= label_tag :show_in_directory, "Show In Directory"%>
        <br/>
        <%= label_tag :name, "Name"%>
        <%= text_field_tag :first_name, nil  %>
        <%= text_field_tag :last_name, nil %>
        <br/>

        <%= label_tag :role, "Role"%>
        <%= text_field_tag :role, nil %>
        <br/>

	<%= label_tag :email, "Email"%>
	<%= text_field_tag :email, nil %>
        <br/>

	<%= label_tag :website, "Website"%>
	<%= text_field_tag :website, nil %>
        <br/>

	<%= label_tag :twitter, "Twitter"%>
	<%= text_field_tag :twitter, nil %>
        <br/>

	<%= label_tag :facebook, "Facebook"%>
	<%= text_field_tag :facebook, nil %>
        <br/>

	<%= label_tag :google, "Google+"%>
	<%= text_field_tag :google, nil %>
      </div>
      <div id="right_section">
	<div class="upload_target" upload_sizes="large,medium,small,thumbprint">
	 </div>
         <input type="hidden" name="image_thumbprint"/>
       </div>
       <br/>
       <%= text_area_tag :bio, nil, :class=>"popup_wysiwyg bio_content" %>
       <br/>
       <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
  <% end %>
</div>
<script>
$(document).bind("ready", function() {
    $("button.person_edit").overlay( {
         onClose: function() { 
         },
         target:"#person_edit_overlay",
         onBeforeLoad: function() {
            var person_id= this.getTrigger().attr("id").split("-")[2];
            var endpoint = "/person";
            var method = "POST";
            if (person_id != "new") {
               endpoint = endpoint + "/" + person_id;
               method = "PUT";
            }
            $(".person_edit_overlay").popup_form(endpoint,
                  {
                    canEdit: true,
                    method: method,
                    uploadImageParams: {
                        image_sizes: ["thumbnail", "medium"]
                    },
                    success: function(xhr, status) {
                       window.location.reload();
                    },
                    error: function(xhr, status) {
                      window.location.reload();
                    }
                  });
        }
    });
   
       $(".person_delete").click(function(event) {
          var person = $(this).attr("id").split("-")[2];
          endpoint = "/person/"+person + ".json";
          $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location="/people"
                   },
               });
       });      
});
</script>
