<div id="biography">
    <div id="left_section">
        <div id="name_entry" class="justify_inputs"><%= person_form.label :name, "Name"%>
	<%= person_form.text_field :first_name, :size=>25, :watermark=>"First"  %>
	<%= person_form.text_field :middle_name, :size=>25, :watermark=>"Middle" %>
	<%= person_form.text_field :last_name, :size=>25, :watermark=>"Last" %></div>
	<% if ["forum","custom"].include?(@setup_type) %>
	    <div id="role_entry"><%= person_form.label :role, "Role"%><%= person_form.text_field :role, :size=>50 %></div>
	<% end %>
	<div id="email_entry"><%= person_form.label :email, "Email" %>
	<%= person_form.email_field :email, :size=>255 %></div>
	<% if @setup_step == "complete" && ["forum","custom"].include?(@setup_type) %> 
	   <%  website = nil
	       if @person.get_param("social_networks").present? && @person.get_param("social_networks").h["website"].present?
	           website = @person.get_param("social_networks").h["website"].to_s
	       end %>
	   
	   <%= person_form.fields_for :params do |params| %>
	      <%= params.fields_for :social_networks do |social_networks| %>
		    <div id="website_entry"><%= social_networks.label :website, "Website"%>
		    <%= social_networks.text_field :website, :watermark=>"http://www.mywebsite.com/", :value=>website %></div>
	      <% end %>
	   <% end %>
        <% end %>
    </div>
    <div id="right_section">
	<span class="popup_help_text" style="float:right;">Click to change image</span><br/>
	<img id="person_portrait" class="upload_target" src="<%= person.image_url %>" ></img>
        <%= person_form.hidden_field :image_url %>
	<%= person_form.hidden_field :large_image_url %>
	<%= person_form.hidden_field :thumbnail_url %>
    </div>
   <%= person_form.label :bio, "Biography" %>
   <div id="bottom_section"><div class="settings_wysiwyg"><%= person_form.text_area :bio, :class=>"settings_wysiwyg" %></div></div>
</div>
<script>
 $(function() {
     $("div#biography img.upload_target").bind("click", function() {
        imageDialog({
	     initialImage: "<%= person.large_image_url %>",
             previewSize:"large",
             uploadParams:{
               imageSizes: {
                  large: {width:300, height:450},
                  medium: {width:100, height:150},
                  thumbnail:  {width:50, height:75}
               }
             },
             sizeLimit: 10000000,
	     onSuccess: function(upload_result){
                 $("div#biography input#person_image_url").val(upload_result["urls"]["medium"]);
                 $("div#biography input#person_thumbnail_url").val(upload_result["urls"]["thumbnail"]);
                 $("div#biography input#person_large_image_url").val(upload_result["urls"]["large"]);
                 $("div#biography img#person_portrait").attr("src", upload_result["urls"]["medium"]);
                 $("input#person_image_url, input#person_thumbnail_url, input#person_large_image_url").trigger("change");
             }});
       });

 });
</script>
