<% if @person.present? %>
  <section><article class="person_listing" rel="<%= person_path(@person.id) %>">
    <div class="social_network_icons">
      <% website = nil
       if @person.get_param("social_networks").present?
	   @person.get_param("social_networks").h.each do |network, network_id| %>
	   <% if network != "website" && network_id.to_s.present? %>
	      <%= link_to "", social_network_url(network, network_id.to_s), {:target=>"blank", :class=>"social_networks_icon", :id=>network} %>
	   <% else 
	     website = network_id.to_s  
	   end %>
	  <% end %>
       <% end %>
    </div>
    <img src="<%= @person.large_image_url %>" class="person_portrait"/>
    <div>
     <div class="person_name"><%= @person.full_name %></div>
     <% if !@person.role.blank? %><div class="person_role"><%= @person.role %></div><% end %>
     <% if !@person.email.nil? && @person.email != ""%>
      <div><a href="mailto:<%= @person.email %>"><%= @person.email %></a></div>
     <% end %>
    </div>
    <% if !website.nil? %>
       <div class="person_website"><%= link_to website, website %> </div>
    <% end %>
    <div class="person_bio"><%= raw @person.bio %>
    <div style="clear:both"></div>
  </article></section>
   <% if (can? :edit, @person)  %>
     <% if @setup_type=="author" %>
       <ul id="biography_application_menu" class="application_menu"><li><a rel="<%= edit_person_path(@person.id) %>" form="Edit Biography"><span aria-hidden="true" class="icon-profile"></span>&nbsp;Edit Biography</a></li></ul>
     <% else %>
     <ul id="biography_application_menu" class="application_menu"><li>Biography<ul>
         <li><a rel="<%= edit_person_path(@person.id) %>" form="Edit Biography">Edit Biography</a></li>
	 <li><a rel="<%= new_person_path %>" form="New Biography">New Biography</a></li>
     </ul></li></ul>
     <% end %>
     <%= render :partial=>"roxiware/people/context_menus" %>
   <% end %>
<% end %>
