<section class="page_content">
  <% if (can? :edit, @page) %>
<%= content_tag(:ul, :id=>"page_edit_application_menu", :class=>"application_menu") do
    content_tag(:li) do
        content_tag(:a, :rel=> edit_page_path(@page.page_identifier), :form=>"") do
            content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-pencil")+content_tag(:span, "Edit Page", :class=>"top_menu_text")
        end
    end 
end %>
       <ul id="page_context_menu" class="context_menu">
	  <li id="edit_page"><a menu_item="edit_page"><span aria-hidden="true" class="icon-quill"></span>&nbsp;Edit <%= @page.page_type.titleize %></a></li>
       </ul>
  <% end %>
  <%= raw @page.content %>
</section>
<% if (can? :edit, @page) %>
<script>
$(function() {
    $("#mainBody").context_menu("#page_context_menu");
    $("#mainBody").on("context_menu", function(event, menu_item) {
       switch (menu_item) {
	  case "edit_page":
	    settingsForm("<%= edit_page_path(@page.page_type) %>", "Edit <%= @page.page_type.titleize %>");
	    break;
       }});

});
</script>
<% end %>

