<div class="large_form" id="people_settings_edit">
    <%= form_tag(setting_path("people"), :method=>"put") do %>
        <div  id="people_list">
            <% Roxiware::Person.all.each do |person| %>
	        <% default_person = " default_person " if @settings.include?('default_biography') && @settings['default_biography'].conv_value == person.id %>
	        <div class="person <%= default_person %>" person_id="<%=person.id%>" user_id="<%= person.user_id %>"><img src="<%= person.thumbnail %>" class="person_thumbnail"/><div class="person_name"><%= person.full_name %></div></div>
	    <% end %>
       </div>
       <div id="person_edit_bar"><div id="new_person" title="Add a person">+</div><div id="delete_person" title="Remove a person">-</div><div id="edit_person" title="Edit a person">o</div></div>
    <% end %>
</div>

<script>
$(function() {
   $("#people_settings_edit .person").click(function() {
      var current_selected_person = $(".person_selected");
      current_selected_person.removeClass("person_selected");
      $(this).addClass("person_selected");

      if($(this).attr("user_id")) {
         $("#people_settings_edit div#delete_person").addClass("edit_bar_button_disabled");
      }
      else {
         $("#people_settings_edit div#delete_person").removeClass("edit_bar_button_disabled");
      }
   });

   $("#people_settings_edit .person").dblclick(function() {
       var current_default = $(".default_person");
       var target_person = $(this);
       if(target_person.is(".default_person")) {
           return;
       }
  
         
       $.ajax({type:"PUT",
		 dataType:"json",
		 url: "<%= setting_path('people') %>",
		 data:{"people[default_biography]":$(this).attr("person_id")},
                 error: function(xhr, textStatus, errorThrown) {
                      $.alert(textStatus);
                 },
                 success: function() {
                     current_default.removeClass("default_person");
                     target_person.addClass("default_person");
                 }});
   });

   $("#edit_person").click(function() {
      var current_selected_person = $(".person_selected");
      settingsForm("/person/"+current_selected_person.attr("person_id")+"/edit", "Edit Person");
   });
   $("#delete_person").click(function() {
      var current_selected_person = $(".person_selected");
      if (current_selected_person.attr("user_id")) {
         return;
      }
      if(confirm("Remove "+current_selected_person.find(".person_name").text()+"\nAre you sure?")) {
	  $.ajax({url:"/person/"+current_selected_person.attr("person_id")+".json",
		  type:"DELETE",
		  dataType: "json",
                  complete: function(jqXHR, textStatus) {
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                     $.alert(textStatus);
                  },
		  success: function(json_data, textStatus, jqXHR) {
                      current_selected_person.remove();
		  }
	   });
      }
   });
   $("#new_person").click(function() {
      settingsForm("<%= new_person_path %>", "New Person");

   });
   $("#people_settings_edit .person").first().click();
});
</script>
