<div class="medium_form" id="system_settings_edit">
   <% site_params = @settings.values_at("title", "subtitle", "webmaster_email","site_copyright_first_year","site_copyright","hosting_package").compact %>
   <% advertising_params = @settings.values_at("google_ad_client").compact %>
   <% seo_params = @settings.values_at("meta_description", "meta_keywords", "google_site_verification_key").compact %>
   <%= form_tag(setting_path("system"), :method=>"put") do %>
       <%= fields_for :system do |system_fields| %>
	  <ul class="tabs">
	      <% if site_params.present? %><li><a>Site</a></li><% end %>
	      <% if advertising_params.present? %><li><a>Advertising</a></li><% end %>
	      <% if seo_params.present? %><li><a>Search Optimization</a></li><% end %>
	  </ul>
          <div class="panes">
	      <% if site_params.present? %>
		<div id="site_pane">
		   <%= param_fields(system_fields, site_params) %>
		</div>
              <% end %>
	      <% if advertising_params.present? %>
		<div id="site_pane">
		   <%= param_fields(system_fields, advertising_params) %>
		</div>
              <% end %>
	      <% if seo_params.present? %>
		<div id="site_pane">
		   <%= param_fields(system_fields, seo_params) %>
		</div>
              <% end %>
          </div>
      <% end %>
      <%= button_tag "Save", :id=>"save_button", :type=>"submit", :class=>"save_button" %>
   <% end %>
</div>

<script>
$(function() {
    $("#system_settings_edit ul.tabs").tabs($("div.panes > div"))
    $("#system_settings_edit form").submit(function(e) {
        e.preventDefault();
        $.ajaxSetParamsJSON('<%= "/settings/system.json" %>', $("#system_settings_edit form").serializeArray(), {form:$("#system_settings_edit form"), 
                                                                                      method:"PUT",
                                                                                      success: function() {
                                                                                          window.location.reload();
                                                                                      }});
    });
});
</script>
