<div id="event_edit_form" class="medium_form">
<%= form_for @event do |event|%>
  <div id="left_section">
    <div id="start_entry"><%= event.label :start_time, "Start" %>
        <%= event.text_field :start_date, :class=>"jquerytools_date" %>
        <%= event.select :start_time, options_for_select((0..1440).step(30).collect() {|x|  ((DateTime.now.midnight + x.minutes).strftime("%l:%M %p").strip)}, @event.start_time) %>
    </div>
    <div id="duration_entry"><%= event.label :duration, "Duration" %>
        <%= event.select :duration, options_for_select((1..24).collect(), @event.duration), :include_blank=>true %>
        <%= event.select :duration_units, options_for_select([["Minutes","minutes"], ["Hours","hours"],  ["Days","days"]], @event.duration_units), :include_blank=>false %>
    </div>
  </div>
   <div id="right_section">
    <div id="location_entry"><%= event.label :location, "Location" %><%= event.text_field :location, :watermark=>"Location", :title=>"Location" %></div>

    <div id="address_entry"><label>&nbsp;</label><%= event.text_field :city, :watermark=>"City", :title=>"City" %><%= event.text_field :state, :watermark=>"State", :title=>"State" %>
    </div>
  </div>
  <div id="url_entry">
    <%= event.label :location_url, "URL" %>
    <%= event.text_field :location_url, :watermark=>"MAP URL, Facebook URL, etc.", :title=>"URL associated with this event" %>
  </div>
  <div id="title_entry">
    <%= event.label :title, "Title" %><%= event.text_field :title, :watermark=>"Title", :title=>"Title associated with this event" %>
  </div>
  <div id="description_entry">
      <%= event.label :description, "Description" %>
      <div id="description"><div class="settings_wysiwyg" toolbar="styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"><%= event.text_area :description, :class=>"event_description settings_wysiwyg" %></div></div>
  </div>
    <%= button_tag "Save", :id=>"save_button", :type=>"button", :class=>"save_button" %>
<% end %>
</div>
<script>

<% if @event.id.present?
       endpoint = event_path(@event.id)
       method = "PUT"
   else 
       endpoint = events_path
       method = "POST"
   end
%>

$(function() {
   $("input[watermark]").watermark();
   $("input.jquerytools_date").dateinput({
                               format: 'mm/dd/yyyy',
                               trigger: true,
                               min: -30
                         });


   $("#event_edit_form select#event_duration").change(function() {
       if($(this).val()) {
           $("#event_edit_form select#event_duration_units").removeAttr("disabled");
       }
       else {
           $("#event_edit_form select#event_duration_units").attr("disabled", "disabled");
       }
   });

   $("#event_edit_form select#event_duration_units").change(function() {
       if($(this).val() != "days") {
           $("#event_edit_form select#event_start_time").removeAttr("disabled");
       }
       else {
           $("#event_edit_form select#event_start_time").attr("disabled", "disabled");
       }
       $("select#event_duration").html("");
       if($(this).val() == "minutes") {
            $([15,30,45, 60, 90, 120]).each(function(index, i) {
               $("select#event_duration").append("<option value='"+i+"'>"+i+"</option>");
            });
            $("select#event_duration").val(15);
       }
       if($(this).val() == "hours") {
            for (var i=1; i<=24; i++) {
               $("select#event_duration").append("<option value='"+i+"'>"+i+"</option>");
            }
            $("select#event_duration").val(1);
       }
       if($(this).val() == "days") {
            for (var i=1; i<=31; i++) {
               $("select#event_duration").append("<option value='"+i+"'>"+i+"</option>");
            }
            $("select#event_duration").val(1);
       }
    });

   $("#event_edit_form select#event_duration_units").change();
   $("#event_edit_form select#event_duration_units").val("<%= @event.duration_units %>");
   $("#event_edit_form select#event_duration").val("<%= @event.duration %>");
   $("#event_edit_form select#event_duration").change();

    $("#event_edit_form button#save_button").click(function() {
        $("form input.watermark").val("");
        $.ajax({type:"<%= method %>",
                processData: false, 
                 dataType:"json",
                 url: "<%= endpoint %>.json",
                 data:jQuery.param($("#event_edit_form form").serializeArray()),
                 error: function(xhr, textStatus, errorThrown) {
                    $.alert(textStatus);
                 },
                 complete: function() {
                 },
                 success: function() {
                    window.location.reload();
                 }}); 
    });

});
</script>
