<div class="event_edit_overlay popup_form overlay" id="event_edit_overlay">
<%= form_tag do%>
    <%= label_tag :start_time, "Start Time:" %>
    <%= text_field_tag :start_date, nil, :class=>"jquerytools_date" %>
    <%= select_tag :start_time, options_for_select((0..1440).step(30).collect() {|x|  ((DateTime.now.midnight + x.minutes).strftime("%l:%M %p").strip)}) %>
    <%= label_tag :duration, "Duration:" %>
    <%= select_tag :duration, options_for_select([""] + (1..40).collect()) %>
    <%= select_tag :duration_units, options_for_select({""=>:none, "Days"=>:days, "Hours"=>:hours, "Minutes"=>:minutes}) %>
    <br/>

    <%= label_tag :location, "Location:" %>
    <%= text_field_tag :location, nil %>
    <%= label_tag :location_url, "URL:" %>
    <%= text_field_tag :location_url, nil %>
    <br/>

    <%= label_tag :city, "City:"%>
    <%= text_field_tag :city, nil %>
    <%= label_tag :state, "State:"%>
    <%= text_field_tag :state, nil %>
    <br/>
    <%= text_area_tag :description, nil, :class=>"event_description popup_wysiwyg" %>
    <br/>
    <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
<% end %>
</div>
<script>
$(document).bind("ready", function() {
    $(".event_delete").click(function(event) {
       var event_id = $(this).attr("id").split("-")[2];
       endpoint = "/events/" + event_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   }
               });
        });


    $("button.event_edit").overlay( {
         onClose: function() { 
         },
         target: '#event_edit_overlay',
         onBeforeLoad: function() {
            var event_id = this.getTrigger().attr("id").split("-")[2];
            var endpoint = "/events";
            var method = "POST";
            if (event_id != "new")
            {
               method = "PUT";
               endpoint = "/events/"+event_id;
            }
            $(".event_edit_overlay").popup_form(endpoint,
                  {
                    canEdit: true,
                    method: method,
                    success: function(xhr, status) {
                       window.location.reload();
                    }
                  });
        }
    });
});
</script>
