<section class="events">
<h2><%= link_to_unless(params[:controller]=="roxiware/events", "Events",events_path) %>
</h2>
<% @events.each do |event|  %>
  <div id="event-<%= event.id %>" class="event" rel="<%= event_path(event.id) %>">
    <h3 class="event_title">
      <%= 
	 # generate the date range string
          show_date = event.start.strftime(@event_date_format)
	  end_time = event.end_time
          
          if ((event.start.day != end_time.day) || (event.start.month != end_time.month) || (event.start.year != end_time.year))
	    show_date += " - " + end_time.strftime(@event_date_format)
          end
          show_date %>
      <%= event.city unless event.city.blank? %> 
      <%= ", " + event.state unless event.state.blank? %>
    </h3>
      <% if (event.duration_units != "days") || (event.start_time != "12:00 AM") %>
        <div class="event_start_time"><%= event.start.strftime("%l:%M %p") %> </div>
      <% end %>
    <div class="event_location">
      <% if !event.location_url.blank? %>
        <%= link_to event.location, event.location_url, :target=>"_blank"%>
      <% else %>
        <%= event.location %>
      <% end %>
    </div>
    <div class="event_description"><%= raw event.description %></div>
  </div>
<% end %>
<% if params[:controller]!="roxiware/events" %>
  <%= link_to("More >", events_path) %>
<% end %>

</section>

<% if (can? :create, Roxiware::Event)  %>
     <ul id="blog_index_application_menu" class="application_menu"><li><a rel="<%= new_event_path %>" form="New Event">New Event</a></li></ul>
     <%= render :partial=>"roxiware/events/context_menus" %>
<% end %>
