<section class="events">
<h2><%= link_to_unless(params[:controller]=="roxiware/events", "Events",events_path) %>
</h2>
<% @events.each do |event|  %>
  <div id="event-<%= event.id %>" class="event" rel="<%= event_path(event.id) %>">
    <h3 class="event_title last">
      <%= show_time = event.start.strftime("%b %e")
          if (event.duration_units == "days" && event.duration.present?)
  	    end_time = event.start + event.duration.days
	    show_time = event.start.strftime("%b %e, %Y") unless end_time.year == event.start.year
	    show_time += " - "
	    show_time += end_time.strftime("%b %e, %Y") if event.start.month != end_time.month
	    show_time += end_time.strftime("%e, %Y") if event.start.month == end_time.month
          end
          show_time %>
      <%= ": " + event.city unless event.city.blank? %> 
      <%= ", " + event.state unless event.state.blank? %>
    </h3>
      <% if (event.duration_units != "days") || (event.start_time != "12:00 AM") %>
        <div class="event_start_time last"><%= event.start.strftime("%l:%M %p") %> <%= ", " unless event.location.blank? %></div>
      <% end %>
    <div class="event_location">
      <% if !event.location_url.blank? %>
        <%= link_to event.location, event.location_url, :target=>"_blank"%>
      <% else %>
        <%= event.location %>
      <% end %>
    </div>
    <div class="event_description last"><%= raw event.description %></div>
  </div>
<% end %>
<% if params[:controller]!="roxiware/events" %>
  <%= link_to("More >", events_path) %>
<% end %>

</section>

<% if (can? :create, Roxiware::Event)  %>
     <ul id="blog_index_application_menu" class="application_menu"><li><a rel="<%= new_event_path %>" form="New Event">New Event</a></li></ul>
     <%= render :partial=>"roxiware/events/context_menus" %>
<% end %>
