<% unless @calendar_posts.blank? %>
  <nav class="widget calendar_nav">
    <div class="calendar_nav_title">Archive</div>
    <ul class="calendar_nav_years">
      <% @calendar_posts.keys.sort.reverse.each do |year| %>
        <% year_posts = @calendar_posts[year] %>
        <li class="calendar_nav_year calendar_nav_hidden"><a>
	    <%= year %> (<%= year_posts[:count]%>)
	      <% if (year_posts[:unpublished_count] > 0) %>
	        <span class="post_unpublished">(<%= year_posts[:unpublished_count] %>)</span>
              <% end %>
	  </a>
	  <ul class="calendar_nav_months">
	    <% year_posts[:monthly].keys.sort.each do |month| %>
	      <% month_posts = year_posts[:monthly][month] %>
	      <li class="calendar_nav_month calendar_nav_hidden"><a><%= month_posts[:name] %> (<%= month_posts[:count] %>)
                <% if (month_posts[:unpublished_count] > 0) %>
	           <span class="post_unpublished">(<%= month_posts[:unpublished_count] %>)</span>
                 <% end %>
		</a>
	        <ul class="calendar_nav_posts">
		  <% month_posts[:posts].each do |post| %>
                      <li><%= link_to post[:title], post[:link], :class=>post[:published]?"":"post_unpublished" %></li>
		  <% end %>
	        </ul>
	      </li>
	    <% end %>
	  </ul>
        </li>
      <% end %>
    </ul>
  </nav>
  <script>
     $(".calendar_nav li a").click(function(){
       $(this).parent().toggleClass("calendar_nav_hidden");
     });
  </script>
<% end %>
