
  <div class="post_item_overlay popup_form overlay" id="overlay_post">
      <%= form_tag do%>

        <%= label_tag :category_name, "Category" %>
        <%= text_field_tag(:category_name, nil, :class=>"category_input") %>
        
        <%= label_tag :person_id, "Author" %>
        <%= select_tag(:person_id, options_from_collection_for_select(Roxiware::Person.where(:show_in_directory=>true), :id, :full_name ))%> 

	 <%= label_tag :post_title, "Title", :class=>"next_form_line"%>
         <%= text_field_tag :post_title, nil%>

         <%= text_area_tag :post_content, nil, :class=>"next_form_line popup_wysiwyg post_item_content" %>

         <%= label_tag :tag_csv, "Tags", :class=>"next_form_line"%>
         <%= text_field_tag :tag_csv, nil %>
         <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
       <% end %>
   </div>
<script>
$(document).ready(function() {
    var categories = [<%= @categories.values.collect{|category| "'#{category.name}'"}.join(",") %>]
    $("#category_name").autocomplete({source:categories});

    $("div[rel=#overlay_post]").overlay( {
         onClose: function() { 
         },
         onBeforeLoad: function() {
            var blog_post_id= this.getTrigger().attr("id").split("-")[3];
            var endpoint = "<%= blog_post_index_path %>";
            var method = "POST";
            if (blog_post_id != "new") {
               endpoint += "/"+blog_post_id;
               method = "PUT";
            }
            $(".post_item_overlay").popup_form(endpoint,
                {
                  wysiwyg_css: "<%= stylesheet_path('application') %>",
                  canEdit: true,
                  method: method,
                  success: function(xhr, status) {
                     window.location.reload();
                  },
                  error: function(xhr, status) {
                    window.location.reload();
                  }
                });
       } 
    });
   
    $(".post .post_delete").click(function(event) {
       var blog_post_id = $(this).attr("id").split("-")[3];
       var endpoint = "<%= blog_path %>/post/"+blog_post_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                     <% if index %>
                        window.location.reload();
		     <% else %>
                        window.location = "/blog";
		     <% end %>
                   }
               });
        });
    $(".post .comment_delete").click(function(event) {
       var post_id = $(this).attr("id").split("-")[2];
       var comment_id = $(this).attr("id").split("-")[3];
       var endpoint = "/blog/post/"+ post_id + "/comment/" + comment_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   }
               });
        });
});
</script>


