
  <div class="post_item_overlay overlay" id="overlay_post">
      <%= form_tag do%>
        <div class="span-16 last">
          <div class="left last"><%= label_tag :person_id, "Person", :class=>"span-2 left"%>
	  
	     <%= select_tag(:person_id, options_from_collection_for_select(Roxiware::Person.all, :id, :full_name ))%> 
          </div>
	  <%= label_tag :post_title, "Title:", :class=>"span-3 left"%>
          <%= text_field_tag :post_title, nil, :class=>"span-12 last" %>
          <%= text_area_tag :post_content, nil, :class=>"popup_wysiwyg post_item_content left last" %>
        </div>
       <% end %>
     <div id="save_control" class="save_button right">&nbsp;</div>
   </div>
<script>
$(document).ready(function() {
    $("div[rel=#overlay_post]").overlay( {
         onClose: function() { 
         },
         onBeforeLoad: function() {
            var blog_post_id= this.getTrigger().attr("id").split("-")[3];
            var endpoint = "<%= blog_post_index_path %>";
            console.log("Blog post foo " + blog_post_id);
            var method = "POST";
            if (blog_post_id != "new") {
               endpoint += "/"+blog_post_id;
               method = "PUT";
            }
            $(".post_item_overlay").popup_form(endpoint,
                {
                  canEdit: true,
                  method: method,
                  success: function(data, status, jqhxr) {
                     window.location = data["post_link"];
                  }
                });
       } 
    });
   
    $(".post .post_delete").click(function(event) {
       var blog_post_id = $(this).attr("id").split("-")[3];
       var endpoint = "<%= blog_path %>/post/"+blog_post_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location="/blog";
                   }
               });
        });
    $(".post .comment_delete").click(function(event) {
       var post_id = $(this).attr("id").split("-")[2];
       var comment_id = $(this).attr("id").split("-")[3];
       var endpoint = "/blog/post/"+ post_id + "/comment/" + comment_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   }
               });
        });
});
</script>


