<div class="padding_box"><%= post_fields.label :category_name, "Category" %>
  <%= post_fields.text_field(:category_name, :class=>"category_input") %>
  <%= post_fields.label :person_id, "Author" %>
  <%= post_fields.select(:person_id, Roxiware::Person.where(:show_in_directory => true).collect{|p| [p.full_name, p.id]}) %> 
  <br/>
  <%= post_fields.label :post_title, "Title"%>
  <%= post_fields.text_field :post_title, :altname=>:post_link %>
  <br/>
  <%= post_fields.text_area :post_content, :class=>"settings_wysiwyg post_item_content" %>
  <%= post_fields.label :tag_csv, "Tags"%>
  <%= post_fields.text_field :tag_csv %>
</div>
<script>
$(function() {
    var categories = [<%= raw Roxiware::Terms::Term.categories.values.collect{|category| "'#{category.name}'"}.join(",") %>]
    $("#category_name").autocomplete({source:categories});

    $(".post .comment_delete").click(function(event) {
       var post_id = $(this).attr("id").split("-")[2];
       var comment_id = $(this).attr("id").split("-")[3];
       var endpoint = "/blog/post/"+ post_id + "/comment/" + comment_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   }
               });
        });
});
</script>
