<% if @post.id.present?
       endpoint = blog_post_path(@post.id)
       method = "PUT"
   else 
       endpoint = blog_post_index_path
       method = "POST"
   end
%>
<div class="large_form" id="post_edit_form">
    <%= form_for(@post, {:url=>endpoint}) do |post| %>
        <%= render(:partial=>"edit_post", :locals=>{:post_fields=>post}) %>
        <%= button_tag "Save", :id=>"save_button", :type=>"button", :class=>"save_button" %>
    <% end %>
</div>
<script>
$(function() {
    $("#post_edit_form button#save_button").click(function() {
        $.ajax({type:"<%= method %>",
                 processData: false, 
                 dataType:"json",
                 url: "<%= endpoint %>.json",
                 data:jQuery.param($("#post_edit_form form").serializeArray()),
		 error: function(xhr, textStatus, errorThrown) {
		       $.error(errorThrown);
		 },
		 complete: function() {
		 },
		 success: function(data) {
		     if(data["error"]) {
			 $(data["error"]).each(function(index, value) {
			     $.error(value[0]+": "+value[1])
			     $("form input#"+value[0]).css("background", "#ffcccc");
			 })
		     }
		     else {
			 window.location="<%= setup_path %>";
		     }
                 }}); 
    });
});
</script>
