<% hidden_post = "hidden_post" if post.post_status != "publish" %>
  <article class="<%= hidden_post %> post" id="post-<%= post.id %>" rel="<%= blog_post_path(post.id) %>">
     <hr class="post_separator"/>
     <% if (can? :edit, post) %>
         <div class="manage_post_menu manage_menu" id="manage_<%= post.id %>"><ul>
             <li><div class="manage_button">&nbsp;</div><ul>
		<li class="edit_post"><a>Edit</a></li>
		<li class="post_status"  post_status="<%= post.post_status %>"><a><%= "Hide" if post.post_status == "publish" %><%= "Show" unless post.post_status == "publish"%></a></li>
		<hr/>
		<li class="comment_permissions"><span>Comments</span></li>
		<% Roxiware::Blog::Post::ALLOWED_COMMENT_PERMISSIONS.each do |permission| %>
		    <% current_perm = "selected_item" if post.comment_permissions == permission %>
		    <li permission="<%= permission %>" class="comment_permission permission_<%= permission %>  <%= current_perm %>"><a><div class="checkbox"></div><%= permission.titleize %></a></li>
		 <% end %>
		<hr/>
		<li class="delete_post"><a>Delete</a></li>
	    </ul></li></ul></div>
     <% end %>

     <% if  !post.category_ids.nil? %>
          <div class="post_categories">
	   <%  post.category_ids.each do |category_id| %>
	     <%= link_to Roxiware::Terms::Term.categories()[category_id].name, blog_path(:category=>Roxiware::Terms::Term.categories()[category_id].seo_index), :class=>"post_category"  %>
	   <% end %>
          </div>
     <% end %>
     <%= link_to post.post_title, post.post_link, :class=>"post_title" %>
     <div class="post_header">
         <% if show_full_header && post.person.present? %>
             <img class="post_author_img" src="<%= post.person.thumbnail_url %>" class="person_thumbnail"/>
         <% end %>
	 <div class="post_date" data="<%= post.post_date %>"><%= raw post.post_date.localtime.strftime(@post_date_format) %></div>
         <% if show_full_header %>
	 <% if post.person.present? %>
	    <div class="post_author"><a href="<%= people_url %>/<%= post.person.seo_index %>"><%= post.person.full_name %></a>
	    </div>
          <% end %>
          <div class="comments_link">
	      <%= link_to pluralize(post.comment_count, "Comment"), post.post_link %>
	      <% if can?(:edit, post) && (post.pending_comment_count > 0) %>
	        <span class="pending_comments">(<%= post.pending_comment_count %>)</span>
	      <% end %>
          </div>
         <% end %>
	</div>
        <div class="content">
	    <% if show_full_content %>
              <%= raw post.post_content %>
	    <% else %>
              <%= raw post.post_exerpt %>
              <div><%= link_to "More...", post.post_link %></div>
            <% end %>
	</div>
        <% if show_full_content %>
          <% if !post.tag_ids.blank? %>
	    <div class="post_tags">
	     Tags: <% post.tags.each do |tag| %>
	       <%= link_to tag.name, blog_path(:tag=>tag.seo_index), :class=>"post_tag"  %>
	     <% end %>
	   </div>
          <% end %>
	  <%= render :partial=>"roxiware/shared/share", :locals=>{:share_link => (request.protocol + request.raw_host_with_port + post.post_link)} %>
        <% end %>
	<div style="clear:both">&nbsp;</div>
      </article>
