
<% if (can? :create, Roxiware::Blog::Post) && @enable_blog_edit %>
  <%= button_tag "New", :id=>"edit-post-item-new", :class=>"post_edit button_add", :type=>"button"  %>
<% end %>
<% unless @posts.nil? %>
    <section class="posts">
      <% @posts.each do |post|  %>
        <div class="post_list_item">
           <%= render :partial=>"post", :locals=>{:post=>post, :index=>true, :show_full_content=>false, :show_full_header=>true} %>
        </div>
      <% end %>
    </section>
<% end %>
<div class="feed_buttons">
<a href="http://fusion.google.com/add?feedurl=<%=AppConfig::feedburner_url%>"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Add to Google Reader or Homepage"/></a>

<a href="http://add.my.yahoo.com/rss?url=<%= AppConfig::feedburner_url %>" title="<%= AppConfig::title %>"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="" style="border:0"/></a>

<a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=<%=AppConfig::feedburner_url%>" title="<%= AppConfig::title %>"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" style="border:0"/></a>

<a href="http://www.bloglines.com/sub/<%=AppConfig::feedburner_url%>" title="<%= AppConfig::title %>" type="application/rss+xml"><img src="http://www.bloglines.com/images/sub_modern11.gif" alt="Subscribe in Bloglines" style="border:0"/></a>

<a href="http://www.netvibes.com/subscribe.php?url=<%=AppConfig::feedburner_url%>"><img src="http://www.netvibes.com/img/add2netvibes.gif" width="91" height="17" alt="Add to netvibes" style="border:0" /></a>

<a href="<%= AppConfig::feedburner_url %>" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="&nbsp;RSS" style="vertical-align:top;border:0"/></a>
</div>

<%= render :partial=>"edit_post", :locals=>{:index=>true} if ((can? :edit, Roxiware::Blog::Post) || (can? :create, Roxiware::Blog::Post)) %>
<script>
$(document).ready(function() {
    var csrf_token = $('meta[name="csrf-token"]').attr('content');
    var csrf_param = $('meta[name="csrf-param"]').attr('content');

    $("div.comment_permissions").on("change", "select", function() {
        var upload_params = {comment_permissions:$(this).val()};
        if (csrf_param !== undefined && csrf_token !== undefined) {
            upload_params[csrf_param] = csrf_token;
        };
       $.ajax("<%= blog_post_index_url %>/"+$(this).attr("post"), {
						type:"PUT",
				                data: upload_params,
						error: function (jqXHR, textStatus, errorThrown) {
						    alert(errorThrown);
                                                    window.location.reload();
						  }
						});
          });

    $("article.post").on("change", "input[type=checkbox]", function() {
       var upload_params = {post_status:$(this).attr("checked")?"publish":"draft"};
       if (csrf_param !== undefined && csrf_token !== undefined) {
           upload_params[csrf_param] = csrf_token;
       };
       $.ajax("<%= blog_post_index_url %>/"+$(this).attr("post"), {
						type:"PUT",
				                data: upload_params,
                                               complete: function() {},
						error: function (jqXHR, textStatus, errorThrown) {
						    alert(errorThrown);
                                                    window.location.reload();
						  },
                                                success: function (data, jqXHR, textStatus)
                                                {
                                                }
						});
          });
});
</script>

