<% unless @posts.nil? %>
    <section class="posts">
      <% @posts.each do |post|  %>
        <div class="post_list_item" rel="<%= blog_post_path(post.id) %>">
           <%= render :partial=>"roxiware/blog/post/post", :locals=>{:post=>post, :index=>true, :show_full_content=>false, :show_full_header=>true} %>
        </div>
      <% end %>
    </section>
<% end %>
<%= render :partial=>"roxiware/shared/feed_buttons" %>

<% if can? :edit, Roxiware::Blog::Post %>
    <%= render :partial=>"roxiware/blog/post/context_menus" %>
<% end %>

<% if can? :create, Roxiware::Blog::Post %>
    <ul id="blog_index_application_menu" class="application_menu"><li><a rel="<%= new_blog_post_path %>" form="New Post">New Post</a></li></ul>

    <ul id="posts_context_menu" class="context_menu">
       <li id="new_post"><a menu_item="new_post">New Post</a></li>
    </ul>
<% end %>

<script>
$(document).ready(function() {

<% if can? :create, Roxiware::Blog::Post %>
    $("#mainBody").context_menu("#posts_context_menu");
    $("#mainBody").on("context_menu", function(event, menu_item) {
       switch (menu_item) {
	  case "new_post":
	    settingsForm("<%= new_blog_post_path %>", "New Blog Post");
	    break;
       }});
    $("button.application_button").click( function(event, menu_item) {
       switch ($(this).attr("id")) {
	  case "new_post":
	    settingsForm("<%= new_blog_post_path %>", "New Blog Post");
	    break;
       }});
<% end %>
});
</script>

<%= render :partial=>"roxiware/blog/post/post_manage_control" %>
