
<% unless @posts.nil? %>
    <section class="posts">
      <% @posts.each do |post|  %>
        <div class="post_list_item" rel="<%= blog_post_path(post.id) %>">
           <%= render :partial=>"post", :locals=>{:post=>post, :index=>true, :show_full_content=>false, :show_full_header=>true} %>
        </div>
      <% end %>
    </section>
<% end %>
<div class="feed_buttons">
<a href="http://fusion.google.com/add?feedurl=<%=AppConfig::feedburner_url%>"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Add to Google Reader or Homepage"/></a>

<a href="http://add.my.yahoo.com/rss?url=<%= AppConfig::feedburner_url %>" title="<%= AppConfig::title %>"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="" style="border:0"/></a>

<a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=<%=AppConfig::feedburner_url%>" title="<%= AppConfig::title %>"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" style="border:0"/></a>

<a href="http://www.bloglines.com/sub/<%=AppConfig::feedburner_url%>" title="<%= AppConfig::title %>" type="application/rss+xml"><img src="http://www.bloglines.com/images/sub_modern11.gif" alt="Subscribe in Bloglines" style="border:0"/></a>

<a href="http://www.netvibes.com/subscribe.php?url=<%=AppConfig::feedburner_url%>"><img src="http://www.netvibes.com/img/add2netvibes.gif" width="91" height="17" alt="Add to netvibes" style="border:0" /></a>

<a href="<%= AppConfig::feedburner_url %>" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="&nbsp;RSS" style="vertical-align:top;border:0"/></a>
</div>

<% if can? :edit, Roxiware::Blog::Post %>
    <%= render :partial=>"roxiware/blog/post/context_menus" %>
<% end %>

<% if can? :create, Roxiware::Blog::Post %>
    <ul id="blog_index_application_menu" class="application_menu"><li><a rel="<%= new_blog_post_path %>" form="New Post">New Post</a></li></ul>

    <ul id="posts_context_menu" class="context_menu">
       <li id="new_post"><a menu_item="new_post">New Post</a></li>
    </ul>
<% end %>

<script>
$(document).ready(function() {

<% if can? :create, Roxiware::Blog::Post %>
    $("#mainBody").context_menu("#posts_context_menu");
    $("#mainBody").on("context_menu", function(event, menu_item) {
       switch (menu_item) {
	  case "new_post":
	    settingsForm("<%= new_blog_post_path %>", "New Blog Post");
	    break;
       }});
    $("button.application_button").click( function(event, menu_item) {
       switch ($(this).attr("id")) {
	  case "new_post":
	    settingsForm("<%= new_blog_post_path %>", "New Blog Post");
	    break;
       }});
<% end %>
    var csrf_token = $('meta[name="csrf-token"]').attr('content');
    var csrf_param = $('meta[name="csrf-param"]').attr('content');

    $("div.comment_permissions").on("change", "select", function() {
        var upload_params = {comment_permissions:$(this).val()};
        if (csrf_param !== undefined && csrf_token !== undefined) {
            upload_params[csrf_param] = csrf_token;
        };
       $.ajax("<%= blog_post_index_url %>/"+$(this).attr("post"), {
						type:"PUT",
				                data: upload_params,
						error: function (jqXHR, textStatus, errorThrown) {
						    alert(errorThrown);
                                                    window.location.reload();
						  }
						});
          });

    $("article.post").on("change", "input[type=checkbox]", function() {
       var upload_params = {post_status:$(this).attr("checked")?"publish":"draft"};
       if (csrf_param !== undefined && csrf_token !== undefined) {
           upload_params[csrf_param] = csrf_token;
       };
       $.ajax("<%= blog_post_index_url %>/"+$(this).attr("post"), {
						type:"PUT",
				                data: upload_params,
                                               complete: function() {},
						error: function (jqXHR, textStatus, errorThrown) {
						    alert(errorThrown);
                                                    window.location.reload();
						  },
                                                success: function (data, jqXHR, textStatus)
                                                {
                                                }
						});
          });
});
</script>

