<div id="book_description_form">
   <%= book_fields.hidden_field :goodreads_id %><%= book_fields.hidden_field :image_url %>
    <%= book_fields.hidden_field :thumbnail_url %><%= book_fields.hidden_field :large_image_url %>
   <div id="left_section">
    <div id="title_entry"><%= book_fields.label :title, "Title"%><%= book_fields.text_field :title %></div>
    <div id="isbn_entry"><%= book_fields.label :isbn, "ISBN"%><%= book_fields.text_field :isbn %></div>
    <div id="isbn13_entry"><%= book_fields.label :isbn13, "ISBN13" %><%= book_fields.text_field :isbn13 %></div>
    <div id="publish_entry"><%= book_fields.label :publish_date, "Publication Date"%><%= book_fields.text_field :publish_date %></div>
   </div>
   <div id="right_section">
    <span class="popup_help_text" style="float:center;">Click to change image</span><br/>
    <img id="book_upload_image_url" src="" class="upload_target" />
    <input type="hidden" name="large_image_url"/>
   </div>
   <%= book_fields.label :description, "Description" %>
   <div id="bottom_section"><div class="settings_wysiwyg"><%= book_fields.text_area :description, :class=>"settings_wysiwyg" %></div></div>
</div>
<script>
$(function() {     

   $("input#book_publish_date").dateinput({
                               format: 'm/d/yyyy',
                               trigger: true
                         });
   
   $("img#book_upload_image_url").attr("src", $("input#book_large_image_url").val());
   $("img#book_upload_image_url").bind("click", function() {
	 var params = {};
         var url = $("input#book_large_image_url").val() || "";
	 params = {url:encodeURI(url), width:300, height:450};
         settingsForm("/asset/edit?"+jQuery.param(params), "Choose Image", {
	     success: function(image_url) {
                 $("img#book_upload_image_url").attr("src", image_url);
                 $("input#book_large_image_url").val(image_url);
                 $("input#book_large_image_url").trigger("change");
	     }
	 });
    });
});
</script>
