<div class="book_listing" rel="<%= book_path(book.id)%>" id="<%= book.seo_index %>">
     <% if (can? :edit, book) %>
         <div class="manage_book_menu manage_menu" id="manage_<%= book.id %>"><ul>
             <li><div class="manage_button icon-arrow-down-9"></div><ul>
		<li class="edit_book"><a>Edit</a></li>
		<li class="delete_book"><a>Delete</a></li>
	    </ul></li></ul></div>
     <% end %>

    <%= link_to(content_tag(:div, book.title, :class=>"book_title"), book_path(book.seo_index),  :class=>"book_title_link") %>
    <%= link_to(tag(:img, :src=>book_image_url, :class=>"book_cover"), book_path(book.seo_index), :class=>"book_cover_link") %>
    <% if book_description_length > 0
          book_description = raw book.description_excerpt(book_description_length){link_to("", book_path(book.seo_index), :class=>"book_more_link")}
       else
          book_description = raw book.description
       end 
    %>
    <div class="book_description"><%= book_description %></div>

    <% bookstores = book.get_param("bookstores")
       bookstore_list = []
       if bookstores.present? && bookstores.a.present?
           bookstores.a.each do |bookstore|
	       if bookstore.h.present? && bookstore.h['children'].present? && bookstore.h['children'].a.present? 
	           bookstore_list << bookstore
               end
          end
       end
       if bookstore_list.present? %>
          <div class="bookstore_list">
	     <ul class="book_purchase_bar">
	       <% bookstore_list.each do |bookstore| %>
		   <li class="book_store" id="<%= bookstore.h['store_id'].to_s %>">
		       <% edition = bookstore.h['children'].a[0] %>
		       <a href="<%= edition.h['link'].to_s %>" target="_blank" class="store_link_<%= bookstore.h['store_id'].conv_value %> store_link"><div class="store_name"><%= Roxiware::Book::STORES[bookstore.h['store_id'].conv_value] %></div></a>
		       <% if bookstore.h['children'].a.length > 1 %>
		           <ul class="book_store_editions">
			       <% bookstore.h['children'].a.each do |edition| %>
			           <li><a href="<%= edition.h['url'].to_s %>" target="_blank" class="edition_store_name"><%= edition.h['name'].to_s %></a></li>
		               <% end %>
		           </ul>
		       <% end %>
	           </li>
	       <% end %>
	   </ul>
         </div>
       <% end %>
</div>
