<div id="series_<%=series.id%>" class="series_listing" rel="<%= book_series_path(series.id) %>">
     <% if (can? :edit, series) %>
         <div class="manage_series_menu manage_menu" id="manage_<%= series.id %>"><ul>
             <li><div class="manage_button icon-arrow-down-9"></div><ul>
		<li class="edit_series"><a>Edit</a></li>
		<li class="delete_series"><a>Delete</a></li>
	    </ul></li></ul></div>
     <% end %>

    <a href="<%= book_series_path(series.seo_index) %>" class="series_link"><div class="series_title"><%= series.title %></div></a>
    <div class="series_description"><%= raw series.description %><br/>
    <a href="<%= book_series_path(series.seo_index) %>" class="more_link"></a></div>
    <%= content_tag(:div, :class=>"series_books") do
        series.books.order("book_series_joins.series_order ASC").collect do |book|
            case display_type
                when "accordion"
                    content_tag(:div, content_tag(:div, book.title, :class=>"series_book_title"), :class=>"series_book_tab") +
                    content_tag(:div, :class=>"series_book_info") do
                        render(:partial=>"book", :locals=>{:book=>book, :book_image_url=>book.image, :book_description_length=>series_book_description_length})
                    end
                when "simple"
                    link_to(book_path(book.seo_index), :class=>"series_book") do
                        tag(:img, :src=>book.image, :class=>"series_book_cover") + 
                        content_tag(:div, book.title, :class=>"series_book_title")
                    end
                when "slide"
                    tag(:img, :src=>book.image, :class=>"book_cover")
                when "slideshow"
                    content_tag(:div, :class=>"book_slide") do
                        render(:partial=>"book", :locals=>{:book=>book, :book_image_url=>book.image, :book_description_length=>series_book_description_length})
                    end
            end
        end.join("").html_safe
    end %>
</div>
<% if display_type == "accordion" %>
<script>
$(function() {

   var series = $("article#series_<%= series.id %>");
   var pane_height = 0;
   var pane_width = series.find(".series_books").width();
   series.find(".series_book_tab").each(function(index, tab) {
      pane_width = pane_width - $(tab).outerWidth();
      pane_width = pane_width-1;
   });
   series.find(".series_book_info").each(function(index, pane) {
       if(pane_height < $(pane).height()) {
           pane_height = $(pane).height();
       }
   });

   series.find(".series_book_info").first().css("display","block").css("width",pane_width+"px");
   series.find(".book_listing").css("width",pane_width+"px");
   series.find(".book_listing").css("height",pane_height+"px");
   series.find(".series_book_tab").css("height",pane_height+"px");
   series.find(".series_books").tabs(series.find("div.series_book_info"), {tabs:series.find("div.series_book_tab")});
});
</script>
<% elsif display_type == "slideshow" %>

<% end %>
