<article id="series_<%=series.id%>" class="series_listing" rel="<%= book_series_path(series.id) %>">
    <a href="<%= book_series_path(series.seo_index) %>" class="series_link"><div class="series_title"><%= series.title %></div></a>
    <div class="series_description"><%= raw series.description %></div>
    <div class="series_books">
        <% series.books.order(:series_order).each do |book| %>
	   <div class="series_book_tab"><div class="series_book_title"><%= book.title %></div></div><div class="book_pane"><%= render :partial=>"book", :locals=>{:book=>book, :book_image_url=>book.image_url, :book_description_length=>@series_book_excerpt_length}  %></div>
	<% end %>
    </div>
</article>
<script>
$(function() {
   var series = $("article#series_<%= series.id %>");
   var pane_width = series.find(".series_books").width();
   series.find(".series_book_tab").each(function(index, tab) {
      pane_width = pane_width - $(tab).outerWidth();
   });
   console.log("PANE WIDTH " + pane_width);
   series.find(".book_pane").first().css("display","block").css("width",pane_width+"px");
   series.find(".book_listing").css("width",pane_width+"px");
   series.find(".series_books").tabs(series.find("div.book_pane"), {tabs:series.find("div.series_book_tab"), effect:"horizontal"});
});
</script>
