<article id="series_<%=series.id%>" class="series_listing" rel="<%= book_series_path(series.id) %>">
    <a href="<%= book_series_path(series.seo_index) %>" class="series_link"><div class="series_title"><%= series.title %></div></a>
    <div class="series_description"><%= raw series.description %><br/>
    <a href="<%= book_series_path(series.seo_index) %>" class="more_link"></a></div>
    <div class="series_books">
      <% if display_type == "accordion" %>
        <% series.books.order(:series_order).each do |book| %>
	   <div class="series_book_tab"><div class="series_book_title"><%= book.title %></div></div><div class="series_book_info"><%= render :partial=>"book", :locals=>{:book=>book, :book_image_url=>book.image_url, :book_description_length=>series_book_description_length}  %></div>
	<% end %>
      <% elsif display_type == "simple" %>
        <div class= "series_book_titles"><%= series.books.order(:series_order).collect{|book| link_to(book.title, book_path(book.seo_index), :class=>"series_book_title") }.join ("").html_safe %></div>
      <% elsif display_type == "slide" %>
          <% series.books[0..11].each do |book| %> <img src="<%= book.image_url %>" class="book_cover"/><% end %>
      <% elsif display_type == "slideshow" %>
      <% books = series.books.order(:series_order) %>
      <div class="book_slides">
         <% books.each do | book| %>
            <div class="book_slide"><%= render :partial=>"book", :locals=>{:book=>book, :book_image_url=>book.large_image_url, :book_description_length=>series_book_description_length}  %></div>
         <% end %>
      </div>
      <div class="book_nav_controls"><div class="prev icon-arrow-left-9"></div><div class="next icon-arrow-right-9"></div></div>
      <div class="book_slide_tabs"><%= books.collect{|book| "<a href='#'></a>"} %></div>
      </div>
      <% end %>
    </div>
</article>
<script>
$(function() {

<% if display_type == "accordion" %>
   var series = $("article#series_<%= series.id %>");
   var pane_height = 0;
   var pane_width = series.find(".series_books").width();
   series.find(".series_book_tab").each(function(index, tab) {
      pane_width = pane_width - $(tab).outerWidth();
      pane_width = pane_width-1;
   });
   series.find(".series_book_info").each(function(index, pane) {
       if(pane_height < $(pane).height()) {
           pane_height = $(pane).height();
       }
   });

   series.find(".series_book_info").first().css("display","block").css("width",pane_width+"px");
   series.find(".book_listing").css("width",pane_width+"px");
   series.find(".book_listing").css("height",pane_height+"px");
   series.find(".series_book_tab").css("height",pane_height+"px");
   series.find(".series_books").tabs(series.find("div.series_book_info"), {tabs:series.find("div.series_book_tab")});
<% elsif display_type == "slideshow" %>

<% end %>
});
</script>
