
<section class="series_listings">
  <% @series.each do |series| %>
    <%= render :partial=>"series",  :locals=>{:series=>series} %>
   <% end %>
</section>
<section class="book_listings">
  <% @books.each do |book| %>
    <%= render :partial=>"book",  :locals=>{:book=>book, :book_image_url=>book.image_url, :book_description_length=>@book_excerpt_length} %>
  <% end %>
</section>
<% if can? :edit, Roxiware::Book %>
  <%= render :partial=>"roxiware/books/context_menus" %>
  <ul id="books_context_menu" class="context_menu">
     <li id="new_book"><a menu_item="new_book">New Book</a></li>
     <li id="new_series"><a menu_item="new_series">New Series</a></li>
  </ul>

  <div class="help_bar_entry">Left-click on a book and select <b>Edit Book</b> to manage the book.</div>
  <div class="help_bar_entry">Left-click and select <b>New Series</b> to collect your books in a series.</div>
  <div class="help_bar_entry">Import details for a book via the <b>Import</b> tab of the edit dialog.</div>
  <div class="help_bar_entry">Left-click and select <b>New Book</b> to add another book.</div>
  <script>
    $(document).bind("ready", function() {
	$("#mainBody").context_menu("#books_context_menu");
	$("#mainBody").on("context_menu", function(event, menu_item) {
	   switch (menu_item) {
	      case "new_book":
		settingsForm("<%= new_book_path %>");
		break;
	      case "new_series":
		settingsForm("<%= new_book_series_path %>");
		break;
	   };
      });
    });
   </script>
<% end %>
