
<section class="series_listings">
   <% @series.each do |series| %>
    <article class="series_listing" rel="<%= book_series_path(series.id) %>">
      <img src="<%= series.small_image %>" class="small_series_cover"/>
      <a href="<%= book_series_path(series.seo_index) %>"><div class="series_title"><%= series.title %></div></a>
      <div class="series_books">
         <%= series.books.order(:series_order).collect{|book| book.title}.join(",") %>
      </div>
      <div class="series_description"><%= raw series.description %></div>
    </article>
   <% end %>
</section>
<section class="books_listing">
  <% @books.each do |book| %>
    <article class="book_listing" rel="<%= book_path(book.id) %>">
      <img src="<%= book.small_image %>" class="small_book_cover"/>
      <a href="<%= book_path(book.seo_index) %>"><div class="book_title"><%= book.title %></div></a>
    </article>
  <% end %>
</section>
<%= render :partial=>"roxiware/books/context_menus" %>
<ul id="books_context_menu" class="context_menu">
   <li id="new_book"><a href="#" menu_item="new_book">New Book</a></li>
   <li id="new_series"><a href="#" menu_item="new_series">New Series</a></li>
</ul>
<script>
  $(document).bind("ready", function() {
    $("#mainBody").context_menu("#books_context_menu");
    $("#mainBody").on("context_menu", function(event, menu_item) {
       switch (menu_item) {
	  case "new_book":
	    settingsForm("<%= new_book_path %>");
	    break;
	  case "new_series":
	    settingsForm("<%= new_book_series_path %>");
	    break;
       };
  });
});
</script>
