<section class="books_listing">
  <% book_series_list = @series.collect{|series| series} + @books.collect{|book| book} %>
  <%= render :partial=>"roxiware/books/books",  :locals=>{:display_type=>@books_display_type, :books=>book_series_list} %>
</section>

<% if can? :edit, Roxiware::Book %>
  <%= render :partial=>"roxiware/books/context_menus" %>
  <ul id="books_context_menu" class="context_menu">
     <li id="new_book"><a menu_item="new_book"><span aria-hidden="true" class="icon-none"></span>&nbsp;New Book</a></li>
<% if 0 %>     <li id="new_series"><a menu_item="new_series"><span aria-hidden="true" class="icon-none"></span>&nbsp;New Series</a></li> <% end %>
  </ul>
<%= content_tag(:ul, :id=>"books_edit_application_menu", :class=>"application_menu") do
    content_tag(:li) do
        content_tag(:a, :rel=> new_book_path, :form=>"New Book") do
            content_tag(:span, "+", "aria-hidden"=>"true", :class=>"menu-icon icon-book")+content_tag(:span, "New Book", :class=>"top_menu_text")
        end
    end #+
    #content_tag(:li) do
    #    content_tag(:a, :rel=> new_book_series_path, :form=>"New Series") do
    #        content_tag(:span, "+", "aria-hidden"=>"true", :class=>"menu-icon icon-books")+content_tag(:span, "New Series", :class=>"top_menu_text")
    #    end
    #end
end %>
  <script>
    $(document).bind("ready", function() {
	$("#mainBody").context_menu("#books_context_menu");
	$("#mainBody").on("context_menu", function(event, menu_item) {
	   switch (menu_item) {
	      case "new_book":
		settingsForm("<%= new_book_path %>", "New Book");
		break;
	      case "new_series":
		settingsForm("<%= new_book_series_path %>", "New Series");
		break;
	   };
      });
    });
   </script>
<% end %>
