<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta name="description" content="<%= @meta_description %>"/>
  <meta name="keywords" content="<%= @meta_keywords %>"/>
  <meta name="robots" content="<%= @robots %>" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]> 
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
  <![endif]-->

  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/assets/icons/favicon.ico"%>
  <%= render :partial=>'roxiware/layouts/ga' %>
</head>
<body class="application_body">
<div id="mainBody" class="span-20 last">
<header class="main_header span-20 last">
<%= render :partial => 'shared/header' %>
</header>
<% if (!flash[:notice].nil?) && (flash[:notice].length > 0) %>
  <div class="notice-flash"><%= flash[:notice] %></div>
<% end %>
<% if (!flash[:error].nil?) && (flash[:error].length > 0) %>
<div class="error-flash"><%= flash[:error] %></div>
<% end %>
<%= yield %>
<footer class="main_footer span-20">
<%= render :partial => 'shared/footer' %>
</footer>
</div>

<!--[if IE]> 
<script>
/* IE bug where clicks on contained elements don't set container to 'active' */
$(document).bind("ready", function() {
   $(".button_box").bind("mousedown", function() {
      $(this).addClass("button_box_pressed");
   });
   $(".button_box").bind("mouseleave", function() {
      $(this).removeClass("button_box_pressed");
   });
   $(".button_box").bind("mouseup", function() {
      $(this).removeClass("button_box_pressed");
   });
});
</script>
<![endif]-->
</body>

</html>
