<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:og="http://ogp.me/ns#">
<head>
<%= render :partial=>'roxiware/shared/head' %>
</head>
<body class="application_body <%= @page_identifier %>" application="<%= application_name %>" app_path="<%= application_path(params) %>">
  <%= render :partial=>'roxiware/shared/body_head' %>
  <div id="mainBody">
    <header class="main_header">
    <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "header_bar"})%>
    </header>
    <div id="layout_body">
      <div id="content_section">
        <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "left_bar" })%>
        <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "right_bar" })%>
	<div id="center_bar" class="<%= @center_bar_class %>">
          <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "top_bar" })%>
          <div class="content_background_container">
	     <div class="content_background"></div>
	     <div id="center_content" class="<%= @center_content_class %>">
	       <%= yield %>
	     </div>
	  </div>
          <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "bottom_bar" })%>
	</div>
      </div>
    </div>
    <footer class="main_footer">
    <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "footer_bar"})%>
    </footer>
  </div>
  <%= render :partial=>'roxiware/shared/footer_common' %>
</body>
</html>
