<!DOCTYPE html>
<html>
<head>
<%= render :partial=>'roxiware/shared/head' %>
</head>
<body class="application_body">
  <% if can? :edit, @current_layout %>
     <%= render :partial=>"roxiware/shared/widget_bar.html.erb" %>
     <%= render :partial=>"roxiware/shared/layout_edit_controls" %>
  <% end %>
  <%= render :partial=>'roxiware/shared/socialheader' %>
  <div id="mainBody">
    <header class="main_header">
    <%= render :partial => 'shared/header' %>
    </header>
    <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "header_bar"})%>
    <div id="layout_body">
      <div id="content_section">
        <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "left_bar" })%>
	<div id="center_bar" class="<%= @center_bar_class %>">
          <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "top_bar" })%>
          <div class="content_background_container">
	     <div class="content_background"></div>
	     <div id="center_content" class="<%= @center_content_class %>">
	       <%= yield %>
	     </div>
	  </div>
          <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "bottom_bar" })%>
	</div>
          <%= render(:partial => 'roxiware/layouts/section', :locals=>{:section=> "right_bar" })%>
      </div>
    </div>
    <footer class="main_footer">
      <%= render :partial => 'shared/footer' %>
    </footer>
  </div>
  <% if can? :edit, Roxiware::Page %>
     <%= render :partial=>"roxiware/page/page_edit" %>
  <% end %>
<%= render :partial=>'roxiware/shared/footer_common' %>
</body>
</html>
