<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta name="description" content="<%= @meta_description %>"/>
  <meta name="keywords" content="<%= @meta_keywords %>"/>
  <meta name="robots" content="<%= @robots %>" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]> 
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
  <![endif]-->

  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/assets/icons/favicon.ico"%>
  <%= render :partial=>'roxiware/layouts/ga' %>

   <script type="text/javascript">var switchTo5x=true;</script>
   <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
   <script type="text/javascript">stLight.options({publisher: "ur-ca989226-25fa-9b19-1a62-5e8eb5c8abc6"}); </script>

</head>
<body class="application_body">
  <div id="mainBody">
    <header class="main_header">
      <%= render :partial => 'shared/header' %>
    </header>
	<% if @widgets["header_bar"].present? %>
	  <div id="header_bar" class="<%= @header_bar_class %>">
            <% @widgets["header_bar"].each do |widget| %>
              <%= render (:partial => widget[:view], :locals=>widget[:locals], :layout=>"layouts/widget") %>
	    <% end %>
	  </div>
	<% end %>
    <div id="layout_body">
      <div id="content_section">
	<% if @widgets["left"].present? %>
	  <div id="left_bar" class="<%= @left_bar_class %>">
	    <% @widgets["left"].each do |widget| %>
              <%= render (:partial => widget[:view], :locals=>widget[:locals], :layout=>"layouts/widget") %>
	    <% end %>
	  </div>
	<% end %>
	<div id="center_bar" class="<%= @center_bar_class %>">
          <% if @widgets["top"].present? %>
             <% @widgets["top"].each do |widget| %>
	        <%= render (:partial => widget[:view], :locals=>widget[:locals], :layout=>"layouts/widget")  %>
	     <% end %>
          <% end %>
          <div class="transparent_box_container">
	     <div class="transparent_box"></div>
	     <div id="center_content" class="<%= @center_content_class %>">
	       <%= yield %>
	     </div>
	  </div>
          <% if @widgets["bottom"].present? %>
             <% @widgets["bottom"].each do |widget| %>
	        <%= render (:partial => widget[:view], :locals=>widget[:locals], :layout=>"layouts/widget")  %>
	     <% end %>
          <% end %>
	</div>
        <% if @widgets["right"].present? %>
	  <div id="right_bar" class="<%= @right_bar_class %>">
             <% @widgets["right"].each do |widget| %>
	        <%= render (:partial => widget[:view], :locals=>widget[:locals], :layout=>"layouts/widget")  %>
	     <% end %>
	  </div>
	<% end %>
      </div>
    </div>
    <footer class="main_footer">
      <%= render :partial => 'shared/footer' %>
    </footer>
  </div>
  <% if can? :edit, Roxiware::Page %>
     <%= render :partial=>"roxiware/page/page_edit" %>
  <% end %>
  <script>
  $(document).bind("ready", function() {
     $("BUTTON").button();

     var bottom_pos = 0;
     $("#left_bar:last-child, #center_bar:last-child, #right_bar:last-child").each(function(index, elem){
        bottom_pos = Math.max(bottom_pos, $(elem).position() + $(elem).height());
     });

  });
  </script>
  <!--[if IE]> 
  <script>
  /* IE bug where clicks on contained elements don't set container to 'active' */
  $(document).bind("ready", function() {
     $(".button_box").bind("mousedown", function() {
	$(this).addClass("button_box_pressed");
     });
     $(".button_box").bind("mouseleave", function() {
	$(this).removeClass("button_box_pressed");
     });
     $(".button_box").bind("mouseup", function() {
	$(this).removeClass("button_box_pressed");
     });
  });
  </script>
  <![endif]-->
</body>

</html>
