<div class="account_edit_overlay popup_form overlay" id="account_edit_overlay">
  <%= form_tag do %>
      <%= label_tag :role, "Role"%>
      <%= select_tag :role, options_for_select({"Admin"=>:admin, "User"=>:user, "Guest"=>:guest}) %>
      <br/>

      <%= label_tag :username, "Username" %>
      <%= text_field_tag :username, nil %>
      <br/>

      <%= label_tag :name, "Name"%>
      <%= text_field_tag :first_name, nil %>
      <%= text_field_tag :last_name, nil %>
      <br/>

      <%= label_tag :email, "Email"%>
      <%= text_field_tag :email, nil %>
      <br/>

      <%= label_tag :password, "Password"%>
      <%= password_field_tag :password, nil, :autocomplete=>"off" %>
      <br/>

      <%= label_tag :password_confirmation, "Confirm"%>
      <%= password_field_tag :password_confirmation, nil %>
      <br/>
      <%= button_tag "Save", :id=>"save_button", :type=>"button" %>
  <% end %>
</div>
<script>
$(document).bind("ready", function() {
    $(".account_delete").click(function(event) {
       var account_id = $(this).attr("id").split("-")[2];
       endpoint = "/account/" + account_id + ".json";
       $.ajax({
                url: endpoint,
                type: "DELETE",
                processData: false,
                complete: function(event) {
                   window.location.reload();
                   }
               });
        });
    $("button.account_edit").overlay( {
         onClose: function() { 
         },
         target: '#account_edit_overlay',
         onBeforeLoad: function() {
            var account_id = this.getTrigger().attr("id").split("-")[2];
            var endpoint = "/account";
            var method = "POST";
            if (account_id != "new")
            {
               method = "PUT";
               endpoint = "/account/"+account_id;
            }
            $(".account_edit_overlay").popup_form(endpoint,
                  {
                    canEdit: true,
                    method: method,
                    success: function(xhr, status) {
                       window.location.reload();
                    }
                  });
        }
    });
});
</script>

