<div class="change_password small_form" id="change_password_form">
  <%= form_tag :url=>account_update_password_path do |user| %>
      <div>
	  <div class="wizard_instructions">Please type your current password, your new password, and confirm your new password</div>
	  <%= fields_for(:user) do |user| %>
	  <%= content_tag(:div, :id=>"current_password_entry") do 
	       user.label(:password, "Current Password") +
	       user.password_field(:current_password, :autocomplete=>"off", :watermark=>"*******")
	  end if @reset_password_token.blank? %>
          <%= hidden_field_tag(:reset_password_token,@reset_password_token) if @reset_password_token.present?%>

	  <div id="password_entry"><%= user.label :password, "New Password"%>
	  <%= user.password_field :password, :autocomplete=>"off", :watermark=>"*******" %>
	  </div>

	  <div id="password_confirmation_entry"><%= user.label :password_confirmation, "Confirm"%>
	  <%= user.password_field :password_confirmation, :watermark=>"********"  %>
	  </div>
	  <% end %>
      </div>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button", :disabled=>true %></div>
  <% end %>
</div>
<script>
$(function() {
  $("input[watermark]").watermark();
    $("button#save").require_fields("#user_current_password, #user_password, #user_password_confirmation");
    $("form").submit(function(e) {
        e.preventDefault();
        $.ajaxSetParamsJSON('<%= "#{account_update_password_path}.json" %>', $("form").serializeArray(), {
                form:$("#change_password_form form"), 
                success: function() {
<% if controller="account" %>
    window.location = "/";
<% else %>
    window.location.reload();
<% end %>
                },
                fieldPrefix:"user_"});
    });
});
