<div class="change_password small_form" id="change_password_form">
  <%= form_for @user, :url=>account_update_password_path do |user| %>
      <div class="wizard_instructions">Please type your current password, your new password, and confirm your new password</div>
      <%= user.label :password, "Current Password"%>
      <%= user.password_field :current_password, :autocomplete=>"off", :watermark=>"*******" %>
      <br/>

      <%= user.label :password, "New Password"%>
      <%= user.password_field :password, :autocomplete=>"off", :watermark=>"*******" %>
      <br/>

      <%= user.label :password_confirmation, "Confirm"%>
      <%= user.password_field :password_confirmation  %>
      <br/>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button" %></div>
  <% end %>
</div>
<script>
$(function() {
  $("input[watermark]").watermark();
});


