<div class="change_password small_form" id="change_password_form">
  <%= form_for @user, :url=>@update_password_path do |user| %>
      <div>
	  <div class="wizard_instructions">Please type your current password, your new password, and confirm your new password</div>
	  <div id="current_password_entry">
	       <%= user.label :password, "Current Password"%>
	       <%= user.password_field :current_password, :autocomplete=>"off", :watermark=>"*******" %>
	  </div>

	  <div id="password_entry"><%= user.label :password, "New Password"%>
	  <%= user.password_field :password, :autocomplete=>"off", :watermark=>"*******" %>
	  </div>

	  <div id="password_confirmation_entry"><%= user.label :password_confirmation, "Confirm"%>
	  <%= user.password_field :password_confirmation, :watermark=>"********"  %>
	  </div>
      </div>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button", :disabled=>true %></div>
  <% end %>
</div>
<script>
$(function() {
  $("input[watermark]").watermark();
    $("button#save").require_fields("#user_current_password, #user_password, #user_password_confirmation");
    $("form").submit(function(e) {
        e.preventDefault();
        $.ajaxSetParamsJSON('<%= "#{@update_password_path}.json" %>', $("form").serializeArray(), {
                form:$("#change_password_form form"), 
                success: function() {
                   window.location.reload();
                },
                fieldPrefix:"user_"});
    });
});
