<div class="account_edit_form small_form" id="account_edit_form">
<% if @user.id.blank?
   endpoint = account_index_path
   method = "post"
else
   endpoint = account_path(@user.id)
   method = "put"
end %>
  <%= form_for @user, :url=>endpoint, :method=>method do |user| %>
    <div>
      <% if ((current_user.role == "super") || (current_user.role == "admin")) && (@user != current_user) %> 
          <div id="role_entry"><%= user.label :role, "Role"%>
          <% role_options = {"Admin"=>:admin, "User"=>:user, "Guest"=>:guest} %>
          <% role_options["Super"] = :super if current_user.role == "super" %>
          <%= user.select :role, options_for_select(role_options, @user.role), {:disabled=>"disabled"}%></div>
      <% end %>
          <div id="username_entry"><%= user.label :username, "Username" %>
              <% username_edit_enabled = %w(super admin).include?(current_user.role) && current_user.auth_services.find_by_provider('roxiware').blank? %>
              <%= user.text_field :username, :watermark=>"username", :disabled=>!username_edit_enabled %>
          </div>

      <div id="name_entry" class="justify_inputs"><%= user.label :name, "Name"%>
          <%= user.text_field :first_name, :altname=>:seo_index, :watermark=>"First" %>
          <%= user.text_field :middle_name, :altname=>:seo_index, :watermark=>"Middle" %>
          <%= user.text_field :last_name, :altname=>:seo_index, :watermark=>"Last" %>
      </div>

      <div id="email_entry">
	<%= user.label :email, "Email"%>
        <%= user.email_field :email, :watermark=>"email" %>
      </div>

      <% if(@role != "self") %>
         <div id="password_entry">
	     <%= user.label :password, "Password"%>
	     <%= user.password_field :password, :autocomplete=>"off", :watermark=>"*******" %>
	 </div>

	 <div id="password_confirmation_entry">
	     <%= user.label :password_confirmation, "Confirm"%>
	     <%= user.password_field :password_confirmation, :watermark=>"*******"  %>
	 </div>
      <% end %>
      </div>
      <%= button_tag "Save", :id=>"save_account", :value=>"save", :type=>"submit", :class=>"save_button" %></div>
  <% end %>
</div>
<script>
$(function() {
    $("input[watermark]").watermark();
    $("button#save_account").require_fields("#user_email, #user_username");
    $("form").submit(function(e) {
        e.preventDefault();
        $.ajaxSetParamsJSON('<%= "#{endpoint}.json" %>', $("form").serializeArray(), {form:$("#account_edit_form form"), 
                                                                                      fieldPrefix:"user_", 
                                                                                      method:"<%= method %>",
                                                                                      success: function() {
                                                                                          window.location.reload();
                                                                                      }});
    });
  
});


