<h2>Users</h2>

<table class="accounts">
<tr><th>Username</th><th>Full Name</th><th>Email</th><th>Role</th><th>&nbsp;</th></tr>

<% @users.each() do |user| %>
 <tr>
<td class="span-3"><%= user.username %></td>
<td class="span-5"><%= user.name %></td>
<td class="span-4"><%= user.email %></td>
<td class="span-2"><%= user.role %></td>
<td class="span-2"><div rel="#overlay_account" id="edit-account-<%= user.id %>" class="account_edit_button edit_button">&nbsp;</div>
<% if user != current_user %>
<div rel="#overlay_account" id="delete-account-<%= user.id %>" class="account_delete_button delete_button">&nbsp;</div>
<% end %>
</td>
 </tr>
<% end %>
<tr><td class="span-3">&nbsp;</td>
    <td class="span-5">&nbsp;</td>
    <td class="span-4">&nbsp;</td>
    <td class="span-2">&nbsp;</td>
    <td class="span-2"><div rel="#overlay_account" id="edit-account-new" class="account_add_button add_button">&nbsp;</div></td></tr>
</table>
<%= render :partial=>"account_edit" %>
